<div class="carousel carousel__v2">
  <slot></slot>
  <div class="carousel__pagination">
    <button v-for="n in slidesCount" @click="goto(n-1)" :class="{active: n-1 == index}"></button>
  </div>
</div>