<template >
  <div class="page-burgers">
    <h1>Icon cross</h1>
    <div class="burger">
      <BurgerIconCross />
      <BurgerIconCrossOutline />
    </div>
    <h1>Icon Arrow right</h1>
    <div class="burger">
      <BurgerIconRightArrow />
      <BurgerIconRightArrowOutline />
    </div>
    <h1>Icon Arrow left</h1>
    <div class="burger">
      <BurgerIconLeftArrow />
      <BurgerIconLeftArrowOutline />
    </div>
  </div>
</template>

<script>
import BurgerIconCross from "@/components/burgers/burger-icon-cross/burger.vue";
import BurgerIconCrossOutline from "@/components/burgers/burger-icon-cross-outline/burger.vue";
import BurgerIconLeftArrow from "@/components/burgers/burger-icon-left-arrow/burger.vue";
import BurgerIconLeftArrowOutline from "@/components/burgers/burger-icon-left-arrow-outline/burger.vue";
import BurgerIconRightArrow from "@/components/burgers/burger-icon-right-arrow/burger.vue";
import BurgerIconRightArrowOutline from "@/components/burgers/burger-icon-right-arrow-outline/burger.vue";

export default {
  components: {
    BurgerIconCross,
    BurgerIconCrossOutline,
    BurgerIconLeftArrow,
    BurgerIconLeftArrowOutline,
    BurgerIconRightArrow,
    BurgerIconRightArrowOutline,
  },
};
</script>

<style lang="scss">
h1 {
  text-align: center;
}
.burger {
  padding: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  .menu-icon {
    margin: auto;
  }
}
</style>
