<template>
  <div>
    <BoxUnderline />
    <BoxUnderlineCustom />
    <BoxUnderlineCustomCenter />
    <BoxUnderlineCustomBottom />
    <BoxUnderlineCustomLeft />
  </div>
</template>

<script>
import BoxUnderline from "@/components/css-tricks/underline-effects/box-underline.vue";
import BoxUnderlineCustom from "@/components/css-tricks/underline-effects/box-underline-custom.vue";
import BoxUnderlineCustomCenter from "@/components/css-tricks/underline-effects/box-underline-custom-center.vue";
import BoxUnderlineCustomBottom from "@/components/css-tricks/underline-effects/box-underline-custom-bottom.vue";
import BoxUnderlineCustomLeft from "@/components/css-tricks/underline-effects/box-underline-custom-left.vue";
export default {
  components: {
    BoxUnderline,
    BoxUnderlineCustom,
    BoxUnderlineCustomCenter,
    BoxUnderlineCustomBottom,
    BoxUnderlineCustomLeft,
  },
};
</script>

<style lang="scss">
</style>
