<template>
  <div class="page-splitting">
    <div class="item">
      <SplittingHorizontal />
    </div>
    <div class="item">
      <SplittingVertical />
    </div>
    <div class="item">
      <SplittingVertical2 />
    </div>
  </div>
</template>

<script>
import SplittingHorizontal from "@/components/css-tricks/splitting-effects/splitting-horizontal.vue";
import SplittingVertical from "@/components/css-tricks/splitting-effects/splitting-vertical.vue";
import SplittingVertical2 from "@/components/css-tricks/splitting-effects/splitting-vertical-2.vue";
export default {
  components: {
    SplittingHorizontal,
    SplittingVertical,
    SplittingVertical2,
  },
};
</script>

<style lang="scss">
.page-splitting {
  .item {
    margin: 50px 0;
  }
}
</style>
