<template>
  <div class="page-call-2-action">
    <div class="item">
      <BtnCartoon>Hover me</BtnCartoon>
    </div>
    <div class="item">
      <BtnFraming>Hover me</BtnFraming>
    </div>
    <div class="item">
      <BtnTopBottom>Hover me</BtnTopBottom>
    </div>
    <div class="item">
      <BtnUp>Hover me</BtnUp>
    </div>
    <div class="item">
      <BtnZoomBack>Hover me</BtnZoomBack>
    </div>
    <div class="item">
      <BtnBlur>Hover me</BtnBlur>
    </div>
    <div class="item">
      <BtnSwipeLeft>Hover me</BtnSwipeLeft>
    </div>
    <div class="item">
      <BtnSwipeRight>Hover me</BtnSwipeRight>
    </div>
    <div class="item">
      <BtnSwipeTopLeft>Hover me</BtnSwipeTopLeft>
    </div>
    <div class="item">
      <BtnSwipeBottomRight>Hover me</BtnSwipeBottomRight>
    </div>
  </div>
</template>

<script>
import BtnCartoon from "@/components/css-tricks/call-to-action/btn-cartoon.vue";
import BtnFraming from "@/components/css-tricks/call-to-action/btn-framing-effect.vue";
import BtnTopBottom from "@/components/css-tricks/call-to-action/btn-top-bottom.vue";
import BtnUp from "@/components/css-tricks/call-to-action/btn-up.vue";
import BtnZoomBack from "@/components/css-tricks/call-to-action/btn-zoom-back.vue";
import BtnBlur from "@/components/css-tricks/call-to-action/btn-blur.vue";
import BtnSwipeLeft from "@/components/css-tricks/call-to-action/btn-swipe-left.vue";
import BtnSwipeRight from "@/components/css-tricks/call-to-action/btn-swipe-right.vue";
import BtnSwipeTopLeft from "@/components/css-tricks/call-to-action/btn-swipe-top-left.vue";
import BtnSwipeBottomRight from "@/components/css-tricks/call-to-action/btn-swipe-bottom-right.vue";
export default {
  components: {
    BtnCartoon,
    BtnFraming,
    BtnTopBottom,
    BtnUp,
    BtnZoomBack,
    BtnBlur,
    BtnSwipeLeft,
    BtnSwipeRight,
    BtnSwipeTopLeft,
    BtnSwipeBottomRight,
  },
};
</script>

<style lang="scss">
.page-call-2-action {
  .item {
    margin: 50px 0;
  }
}
</style>
