<template>
  <div class="page page-css-tricks">
    <div class="navigation">
      <div class="page-title">
        <h1>Css Tricks</h1>
      </div>
      <div>
        <router-link :to="{ name: 'PageHome' }">Page Home</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'PageBurgers' }">Burgers</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'PageUnderlineEffects' }"
          >Underline Effet</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'PageCallToAction' }"
          >Call to action effects</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'PageSplitting' }"
          >Splitting effects</router-link
        >
      </div>
    </div>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
