<template >
  <button class="btn-c2a btn-1">
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss">
// Colors //
$btn-c2a-color: #6225E6;

//Base Button Styles
.btn-c2a.btn-1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 2rem 7rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  will-change: transform;
  cursor: pointer;
}

.btn-1 {
  position: relative;
  background: transparent;
  color: $btn-c2a-color;
  letter-spacing: 0.05rem;
  transition: 0.5s all ease-in-out;

  &:before {
    border-top: 0.3rem solid $btn-c2a-color;
    border-bottom: 0.3rem solid $btn-c2a-color;
    display: block;
    position: absolute;
    background: transparent;
    content: "";
    top: 0;
    bottom: 0;
    left: 100%;
    right: 100%;
    transition: 0.48s all ease-in-out;
  }

  &:hover {
    letter-spacing: 0.4rem;
  }

  &:hover:before {
    left: 25%;
    right: 25%;
  }
}
</style>
