<template >
  <button class="btn-c2a btn-4">
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss">
// Colors //
$btn-c2a-bkg-color: #6225E6;
$btn-c2a-color: #6225E6;
$btn-c2a-border-color: #6225E6;

//Base Button Styles
.btn-c2a.btn-4 {
  position: relative;
  display: inline-block;
  padding: 2rem 7rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  will-change: transform;
  cursor: pointer;
}

// Fourth Button
.btn-4 {
  color: $btn-c2a-color;
  background: rgba($btn-c2a-bkg-color, 0.1);
  box-shadow: 0px 0px 0px 5px rgba($btn-c2a-border-color, 0.95);
  border: 1px solid $btn-c2a-border-color;
  transition: 0.3s all ease-in-out;

  &:hover {
    background: rgba($btn-c2a-bkg-color, 0.2);
    box-shadow: 0px 0px 10px 5px rgba($btn-c2a-border-color, 0.85);
  }
}
</style>
