<template >
  <button class="btn-c2a btn-2">
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss">
// Colors //
$btn-c2a-bkg-color: #6225E6;
$btn-c2a-color: #fff;

//Base Button Styles
.btn-c2a.btn-2 {
  position: relative;
  display: inline-block;
  padding: 2rem 7rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  will-change: transform;
  cursor: pointer;
}

// Second Button

.btn-2 {
  letter-spacing: 0.05rem;
  position: relative;
  background: $btn-c2a-bkg-color;
  color: $btn-c2a-color;
  border-radius: 0.3rem;
  position: relative;
  transition: 0.2s all ease-in-out;

  &:before {
    display: block;
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 0.3rem;
    transform: translateY(5px) scale(0.9);
    content: "";
    height: 5px;
    z-index: -1;
    bottom: -1%;
    left: 0;
    right: 0;
    transition: 0.2s all ease-in-out;
    @include box_shadow(4);
  }

  &:hover:before {
    transform: translateY(8px) scale(0.8);
    opacity: 0.8;
    @include box_shadow(5);
  }

  &:hover {
    transform: translateY(-5px);
  }
}
</style>
