<template >
  <button class="btn-c2a btn-3">
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss">
// Colors //
$btn-c2a-bkg-color: #6225E6;
$btn-c2a-color: #fff;

//Base Button Styles
.btn-c2a.btn-3 {
  position: relative;
  display: inline-block;
  padding: 2rem 7rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  will-change: transform;
  cursor: pointer;
}

// Third Button

.btn-3 {
  letter-spacing: 0.05rem;
  position: relative;
  background: $btn-c2a-bkg-color;
  color: $btn-c2a-color;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-radius: 0.3rem;
  z-index: 1;
  @include box_shadow(5);

  &:hover {
    @include box_shadow(3);
    transform: scale(0.95);
  }
}
</style>
