<template >
  <div class="btn-framing-effect">
    <a>
      <span class="text"><slot></slot></span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
$btn-fe-thick: 3px;
$btn-fe-pad: 0.7em;
$btn-fe-extra: calc(#{$btn-fe-pad} * 1.2);
$btn-fe-color: #2d2d2d;
$btn-fe-line-color: #6225E6;

.btn-framing-effect {
  text-align: center;
  a {
    color: $btn-fe-color;
    padding: $btn-fe-pad $btn-fe-extra;
    display: inline-block;
    border: $btn-fe-thick solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      font-family: proxima-nova, monospace;
      transform: translate3d(0, $btn-fe-pad, 0);
      display: block;
      transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -$btn-fe-thick;
      left: $btn-fe-extra;
      right: $btn-fe-extra;
      height: $btn-fe-thick;
      background: $btn-fe-line-color;
      transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
        right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
        left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
      transform-origin: left;
    }
  }

  .line {
    position: absolute;
    background: $btn-fe-line-color;

    &.-right,
    &.-left {
      width: $btn-fe-thick;
      bottom: -$btn-fe-thick;
      top: -$btn-fe-thick;
      transform: scale3d(1, 0, 1);
    }

    &.-top,
    &.-bottom {
      height: $btn-fe-thick;
      left: -$btn-fe-thick;
      right: -$btn-fe-thick;
      transform: scale3d(0, 1, 1);
    }

    &.-right {
      right: -$btn-fe-thick;
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$btn-fe-thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$btn-fe-thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$btn-fe-thick;
      transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
      transform-origin: right;
    }
  }

  a:hover,
  a:active {
    .text {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      transform: scale3d(0, 1, 1);
      right: -$btn-fe-thick;
      left: -$btn-fe-thick;
      transform-origin: right;
      transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
        right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }

    .line {
      transform: scale3d(1, 1, 1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
      }
    }
  }
}
</style>
