<template >
  <button class="btn-c2a button-mat btn-7">
    <div class="pseudo-text">
      <slot></slot>
    </div>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss">
// Colors //
$btn-c2a-bkg-color: #6225E6;
$btn-c2a-bkg-color-deeper: darken($btn-c2a-bkg-color, 5%);
$btn-c2a-color: #fff;

//Base Button Styles
.btn-c2a.btn-7 {
  position: relative;
  display: inline-block;
  padding: 2rem 7rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  will-change: transform;
  cursor: pointer;

  @include box_shadow(2);
  &:before {
    transform: translate(-110%, -110%) translateZ(0);
  }
  &:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
  }

  &.button-mat {
    color: $btn-c2a-bkg-color;
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      background: $btn-c2a-bkg-color-deeper;
      position: absolute;
      width: 200%;
      height: 500%;
      border-radius: 100%;
      transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
    }

    &:hover .pseudo-text {
      color: $btn-c2a-color;
    }

    &:hover {
      color: transparent;
    }
  }

  .pseudo-text {
    color: $btn-c2a-bkg-color;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline;
    height: auto;
    font-size: 1.7rem;
    font-size: 700;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
  }
}
</style>
