<template>
  <svg class="svg-with-circle" viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="90" />

    <ellipse
      transform="matrix(0.9997 -2.251274e-02 2.251274e-02 0.9997 -1.9971 1.1629)"
      class="st0"
      cx="50.6"
      cy="89.3"
      rx="17.4"
      ry="22.4"
    />
    <path
      d="M101.5,87.1c-8.8,0.3-14.1,6.5-23.6,17S49.3,131,49.1,140.9c-0.2,10,1.2,18,10.5,21.6c9.3,3.6,20.5,0,20.5,0
			s15.4-7.3,24.9-3.7c9.5,3.6,26.9,13,37.4-0.6c17.7-22.8-20.4-56.2-23.3-59.4C109.6,88.6,107.7,86.9,101.5,87.1z"
    />

    <ellipse
      transform="matrix(0.9997 -2.251455e-02 2.251455e-02 0.9997 -2.1307 3.5358)"
      class="st0"
      cx="156"
      cy="96.4"
      rx="17.4"
      ry="22.4"
    />

    <ellipse
      transform="matrix(0.9997 -2.251556e-02 2.251556e-02 0.9997 -1.3097 2.8527)"
      class="st0"
      cx="126"
      cy="59.6"
      rx="17.4"
      ry="22.4"
    />

    <ellipse
      transform="matrix(0.9997 -2.251109e-02 2.251109e-02 0.9997 -1.2189 1.8903)"
      class="st0"
      cx="83.4"
      cy="55.1"
      rx="17.4"
      ry="22.4"
    />
  </svg>
</template>
<script>
export default {
  name: "SvgCatPaw",
};
</script>
