<template>
  <svg class="svg-with-circle" viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="90" />
    <path
      d="M79.7,50.4c0-11.2,9.1-20.2,20.2-20.2c11.2,0,20.2,9.1,20.2,20.2c0,11.2-9.1,20.2-20.2,20.2C88.8,70.7,79.7,61.6,79.7,50.4
	L79.7,50.4z M151.2,50.8c-3.5-3.5-9.2-3.5-12.7,0l0,0l-24.3,24.3H85.7L61.5,50.8c-3.6-3.4-9.3-3.4-12.7,0.2c-3.4,3.5-3.4,9,0,12.5
	L75.3,90v74.9c0,4.9,4,9,9,9l0,0h4.4c4.9,0,9-4,9-9l0,0v-31.4h4.4v31.4c0,4.9,4,9,9,9l0,0h4.4c4.9,0,9-4,9-9l0,0V90.1l26.5-26.5
	C154.7,60,154.7,54.3,151.2,50.8L151.2,50.8L151.2,50.8z"
    />
  </svg>
</template>