<template>
  <svg class="svg-with-circle" viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="90" />
    <path
      d="M104.6,76.9c-17.3-0.2-33.7,8.3-43.2,22.9V76.9c0-14.1-11.4-25.5-25.5-25.5c-4.7,0-8.5,3.8-8.5,8.5s3.8,8.5,8.5,8.5 s8.5,3.8,8.5,8.5v68.1c0,9.4,7.6,17,17,17h46.7c2.4,0,4.2-1.9,4.2-4.2l0,0v-4.2c0-4.7-3.8-8.5-8.5-8.5h-8.3l34-25.5v38.3	c0,2.4,1.9,4.2,4.2,4.2l0,0h8.5c2.4,0,4.2-1.9,4.2-4.2l0,0v-54.8c-2.8,0.7-5.7,1.1-8.5,1.2C121.8,104.1,107.9,92.7,104.6,76.9z M146.5,51.4h-17.1l-17-17v35.7c0.1,14.1,11.6,25.4,25.7,25.3c13.9-0.1,25.2-11.3,25.3-25.3V34.4L146.5,51.4z M127.3,72.6	c-2.4,0-4.2-1.9-4.2-4.2c0-2.4,1.9-4.2,4.2-4.2s4.2,1.9,4.2,4.2S129.7,72.6,127.3,72.6L127.3,72.6z M148.5,72.6	c-2.4,0-4.2-2-4.2-4.2c0-2.4,2-4.2,4.2-4.2c2.4,0,4.2,2,4.2,4.2C152.9,70.7,150.9,72.6,148.5,72.6L148.5,72.6L148.5,72.6z"
    />
  </svg>
</template>