<template>
  <svg class="svg-with-circle" viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="90" />
    <path
      d="M137.7,85.6h-34.2v12.6c0.1,9-7.1,16.2-16,16.4s-16.1-7.1-16.2-16c0-0.1,0-0.2,0-0.3V70.9l-14.6,8.7c-4.3,2.5-7,7.3-7,12.3
	v10.6l-18,10.4c-3.4,2-4.6,6.3-2.7,9.8l0,0l18,31.2c2,3.4,6.4,4.6,9.8,2.7l23.2-13.5h30.7c8,0,14.4-6.4,14.4-14.4h3.6
	c4,0,7.2-3.2,7.2-7.2l0,0v-14.4h1.8c3,0,5.4-2.4,5.4-5.4l0,0V90.9C143.1,88.1,140.8,85.6,137.7,85.6
	C137.8,85.6,137.8,85.6,137.7,85.6z M171,77.2l-18-31.2c-2-3.4-6.4-4.6-9.8-2.7l-23.2,13.5h-23c-2.7,0-5.3,0.8-7.6,2.2l-7.5,4.6
	c-2.1,1.3-3.4,3.6-3.3,6.1v28.4c0,5,4,9,9,9c5,0,9-4,9-9V78.4h41.3c7,0,12.6,5.6,12.6,12.6v6.4l18-10.4
	C171.7,85.1,173,80.7,171,77.2L171,77.2z"
    />
  </svg>
</template>