<template>
  <svg class="svg-with-circle" viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="90" />
    <path
      d="M100,134c29.4,0,53.2-23.8,53.2-53.2S129.4,27.6,100,27.6S46.8,51.4,46.8,80.9l0,0C46.8,110.2,70.6,134,100,134L100,134z M94.4,52.5v-4.3c0-2.3,1.8-4.3,4.2-4.3l0,0h2.8c2.3,0,4.3,1.8,4.3,4.2l0,0v4.4c4,0.2,7.8,1.6,11,3.9c1.3,1,1.6,2.7,0.6,4 c-0.1,0.1-0.2,0.3-0.3,0.4l-4.2,4c-1,0.9-2.4,1-3.6,0.3c-1.4-0.9-2.9-1.4-4.6-1.3h-9.9c-2.4,0.2-4.3,2.2-4.2,4.7 c-0.1,2,1.2,3.9,3.1,4.5l15.9,4.8c6.7,2.1,11.3,8.4,11.2,15.3c0.1,8.5-6.6,15.6-15.2,15.9v4.3c0,2.3-1.8,4.3-4.2,4.3l0,0h-2.8 c-2.3,0-4.3-1.8-4.3-4.2l0,0v-4.4c-4-0.2-7.8-1.6-11-3.9c-1.3-1-1.6-2.7-0.6-4c0.1-0.1,0.2-0.3,0.3-0.4l4.2-4c1-0.9,2.4-1,3.6-0.3 c1.4,0.9,2.9,1.4,4.6,1.3h9.9c2.4-0.2,4.3-2.2,4.2-4.7c0.1-2-1.2-3.9-3.1-4.5l-15.9-4.8c-6.7-2.1-11.3-8.4-11.2-15.3 C79.1,60,85.8,52.9,94.4,52.5L94.4,52.5z M157.3,117.7H149c-5.1,6.7-11.4,12.2-18.6,16.4h16.3c1.3-0.1,2.3,0.8,2.4,2v4.1	c-0.1,1.3-1.3,2.1-2.4,2H53.4c-1.3,0.1-2.3-0.8-2.4-2v-4.1c0.1-1.3,1.3-2.1,2.4-2h16.3c-7.3-4.2-13.6-9.7-18.6-16.4h-8.4 c-4.5,0-8.2,3.7-8.2,8.2l0,0v24.6c0,4.5,3.7,8.2,8.2,8.2l0,0h114.6c4.5,0,8.2-3.7,8.2-8.2l0,0v-24.6 C165.5,121.4,161.9,117.7,157.3,117.7L157.3,117.7L157.3,117.7z"
    />
  </svg>
</template>