<template>
  <svg viewBox="0 0 1280 1024">
    <path
      d="M295.21,505.9S156.14,972.78,702.49,972.78c154-5,357.61-69.54,357.61-412.25,0,0-9.94,382.45-362.58,382.45S260.44,709.54,295.21,505.9Z"
    />
    <path
      d="M1050.16,535.7s158.94-59.6,109.27-357.61c0,0-109.27-39.74-243.37,84.43-54.64-34.76-258.28-109.27-456.95-5,0,0-124.17-129.14-273.17-129.14,0,0-104.31,114.24,74.5,382.44,2.48,2.49-96.85-206.12-57.12-345.19,0,0,74.5,5,248.34,158.94,0,0,248.34-158.94,452,5,0,0,99.34-124.17,223.51-99.33C1127.15,230.24,1161.91,384.21,1050.16,535.7Z"
    />
    <path
      d="M570.72,555.8l.07,0s-57-104.51-141.48-39.94c0,0,77.33-1.3,104.3,54.63.47,1,10.53,14.91,19.87,14.91a19.87,19.87,0,0,0,19.87-19.87A19.61,19.61,0,0,0,570.72,555.8Z"
    />
    <path
      d="M826.66,535.69a200.74,200.74,0,0,0-46.14,50.08,14.73,14.73,0,0,0-2.47,4.08l0,.09h0a14.88,14.88,0,0,0,27.64,11h0c63.44-88.68,155.1-75.22,155.1-75.22C925.41,482.25,866,505.63,826.66,535.69Z"
    />
    <path
      d="M760.53,832c-59.6,0-72.94-33-72.94-57.87s24.83-24.83,24.83-44.7c0-34.77,29.8-59.6,49.67-59.6S782,659.87,782,654.9s0-14.9-19.86-14.9H593.22c-19.87,0-19.87,9.93-19.87,14.9s0,14.9,19.87,14.9,49.66,24.83,49.66,59.6c0,19.87,24.84,19.87,24.84,44.7s-14.9,59.61-74.5,59.61c-64.57,0-109.27-54.64-109.27-54.64s34.88,69,109.38,69c69.54,0,84.32-49.13,84.32-49.13s14.9,44.7,84.44,44.7c74.5,0,109.27-99.34,109.27-99.34S825.1,832,760.53,832Z"
    />
    <path d="M1164.18,823.61l.22.16Z" />
    <path
      d="M901.16,774.1a5,5,0,0,0,0,9.94c205.92,0,259.45,36.92,263,39.57C1094.47,769.15,901.16,774.1,901.16,774.1Z"
    />
    <path
      d="M1224,744.3c-168.87-49.67-322.84-24.83-322.84-24.83a9.94,9.94,0,1,0,0,19.87,9.68,9.68,0,0,0,2.42-.34C1071.5,714.81,1224,744.3,1224,744.3Z"
    />
    <path
      d="M1000.49,625.1c-78.09,20.65-132.82,50.39-132.82,50.39h0A9.93,9.93,0,1,0,877,692.9h0c25.45-20.7,95.07-46.68,163.26-62.83,89.77-21.27,178.8-29.8,178.8-29.8C1139.64,600.27,1062.87,608.61,1000.49,625.1Z"
    />
    <path
      d="M404.48,769.14c-5.6.52-35.33,9.17-64.57,24.83-37.05,19.84-84.79,55-119.2,89.4,0,0,94.36-74.5,183.77-94.37a9.93,9.93,0,0,0,9.93-9.93C414.41,773.58,409.94,768.63,404.48,769.14Z"
    />
    <path
      d="M416.44,694.84c-3.93-2-31.83-15.11-165.93,14.7C161.1,729.4,82.32,774.93,32,813.84c0,0,229.09-124.17,380.27-89.4.08,0,.16-.12.24-.2a15.39,15.39,0,0,0,1.93.2,14.91,14.91,0,0,0,14.9-14.9C429.31,702,420,696.63,416.44,694.84Z"
    />
    <path
      d="M454.15,649.93s-80.77-17.78-183.78-24.83C190.87,619.66,96.24,622.05,27,635c0,0,278.23-9.75,421,43.32,16.58,4.61,21.1-5.29,21.1-13.52S464.53,652,454.15,649.93Z"
    />
    <path
      d="M578.32,158.22c34.76,59.6,24.83,218.54,24.83,218.54a9.94,9.94,0,0,0,19.87,0C633,193,578.32,158.22,578.32,158.22Z"
    />
    <path
      d="M592.89,384.3C562.79,147.75,474,63.85,474,63.85c89.4,124.17,99.34,322.84,99.34,322.84a9.94,9.94,0,1,0,19.54-2.39Z"
    />
    <path
      d="M826.1,16.39c-132.76,171.82-108.71,355.4-108.71,355.4a9.93,9.93,0,1,0,19.86,0C724.38,170.07,804.17,46.32,826.1,16.39Z"
    />
    <path
      d="M826.1,16.39c1.85-2.39,3.61-4.79,5.52-7.17C831.62,9.22,829.55,11.68,826.1,16.39Z"
    />
    <path
      d="M856.46,207.89C782,272.46,742.22,386.69,742.22,386.69l.41.14a7.58,7.58,0,0,0-.41,2.35,7.43,7.43,0,0,0,14.49,2.34l.41.14C767.05,327.09,856.46,207.89,856.46,207.89Z"
    />
  </svg>
</template>