<template>
  <svg class="svg-with-circle" viewBox="0 0 200 200">
    <circle class="st0" cx="100" cy="100" r="90" />
    <path
      d="M78.5,73.9v-8.9c0-1.5,1.2-2.7,2.7-2.7h8.9c1.5,0,2.7,1.2,2.7,2.7v8.9
	c0,1.5-1.2,2.7-2.7,2.7h-8.9C79.8,76.6,78.6,75.4,78.5,73.9C78.5,73.9,78.5,73.9,78.5,73.9z M109.9,76.5h8.9c1.5,0,2.7-1.2,2.7-2.7
	c0,0,0,0,0,0v-8.9c0-1.5-1.2-2.7-2.7-2.7l0,0h-8.9c-1.5,0-2.7,1.2-2.7,2.7v8.9C107.2,75.3,108.4,76.5,109.9,76.5
	C109.8,76.5,109.8,76.5,109.9,76.5L109.9,76.5z M81.2,98h8.9c1.5,0,2.7-1.2,2.7-2.7v-9c0-1.5-1.2-2.7-2.7-2.7h-8.9
	c-1.5,0-2.7,1.2-2.7,2.7v8.9C78.6,96.8,79.8,98,81.2,98C81.2,98,81.2,98,81.2,98z M109.9,98h8.9c1.5,0,2.7-1.2,2.7-2.7c0,0,0,0,0,0
	v-9c0-1.5-1.2-2.7-2.7-2.7l0,0h-8.9c-1.5,0-2.7,1.2-2.7,2.7v8.9C107.2,96.8,108.4,98,109.9,98C109.8,98,109.8,98,109.9,98L109.9,98z M92.8,116.8v-8.9c0-1.5-1.2-2.7-2.7-2.7c0,0,0,0,0,0h-8.9c-1.5,0-2.7,1.2-2.7,2.7l0,0v8.9c0,1.5,1.2,2.7,2.7,2.7c0,0,0,0,0,0h8.9
	C91.7,119.4,92.8,118.3,92.8,116.8z M109.8,119.5h8.9c1.5,0,2.7-1.2,2.7-2.7v0v-8.9c0-1.5-1.2-2.7-2.7-2.7h0h-8.9
	c-1.5,0-2.7,1.2-2.7,2.7l0,0v8.9C107.2,118.3,108.3,119.5,109.8,119.5C109.8,119.5,109.8,119.5,109.8,119.5L109.8,119.5z M150.1,147.2v8H49.9v-8c0-1.5,1.2-2.7,2.7-2.7c0,0,0,0,0,0H57V46.1c0-3,2.4-5.3,5.3-5.3c0,0,0,0,0,0h75.3c3,0,5.3,2.4,5.3,5.3v98.4
	h4.4C148.9,144.5,150.1,145.7,150.1,147.2C150.1,147.2,150.1,147.2,150.1,147.2L150.1,147.2z M67.7,144.3h25.1v-15
	c0-1.5,1.2-2.7,2.7-2.7c0,0,0,0,0,0h8.9c1.5,0,2.7,1.2,2.7,2.7l0,0v15h25.1V51.7l-64.5-0.2L67.7,144.3z"
    />
  </svg>
</template>