<div class="carousel carousel__v1">
  <slot></slot>
  <SvgNext class="carousel__nav carousel__prev" @click.native="prev"></SvgNext>
  <SvgNext class="carousel__nav carousel__next" @click.native="next"></SvgNext>
  <div class="carousel__pagination">
    <button v-for="n in slidesCount" @click="goto(n-1)" :class="{active: n-1 == index}"></button>
  </div>
</div>