/******* Control inside *******/
.carousel.carousel__v1 {
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;

  .carousel__nav {
    position: absolute;
    top: 50%;
    left: 10px;
    width: $carousel-nav-size;
    height: $carousel-nav-size;
    cursor: pointer;

    path {
      fill: $carousel-nav-color;
    }
    transition: all $carousel-anim-hover-duration ease;
    &.carousel__prev {
      transform: translateY(-50%) rotate(180deg);
      &:hover {
        transform: scale(1.1) translateY(-50%) rotate(180deg);
      }
    }
    &.carousel__next {
      right: 10px;
      left: auto;
      transform: translateY(-50%);
      &:hover {
        transform: scale(1.1) translateY(-50%);
      }
    }

    &:focus {
      outline: none;
    }
  }

  .carousel__pagination {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
    button {
      display: inline-block;
      width: $carousel-pag-size;
      height: $carousel-pag-size;
      background-color: $carousel-pag-color;
      opacity: 0.8;
      border-radius: 50%;
      margin: 0 4px;
      cursor: pointer;
      &.active {
        background-color: $carousel-pag-active-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
