$carousel-anim-duration: 0.5s !default;
$carousel-anim-hover-duration: 0.3s !default;
$carousel-nav-size: 30px !default;
$carousel-nav-color: #333 !default;
$carousel-pag-size: 10px !default;
$carousel-pag-color: #333 !default;
$carousel-pag-active-color: #efedea !default;

.carousel__div.carousel__v2 {
  width: 60%;
  margin: auto;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  .carousel__nav {
    position: relative;
    width: $carousel-nav-size;
    height: $carousel-nav-size;
    cursor: pointer;
    transition: all $carousel-anim-hover-duration ease;

    path {
      fill: $carousel-nav-color;
    }
    &.carousel__prev {
      right: 5px;
      transform: translateY(-50%) rotate(180deg);
      &:hover {
        transform: scale(1.1) translateY(-50%) rotate(180deg);
      }
    }
    &.carousel__next {
      left: 5px;
      transform: translateY(-50%);
      &:hover {
        transform: scale(1.1) translateY(-50%);
      }
    }
  }
}
