<div class="carousel__div carousel__v2">
  <SvgNext class="carousel__nav carousel__prev" @click.native="prev"></SvgNext>
  <Carousel ref="refCarousel">
    <CarouselSlide v-for="n in slides" :index="n-1" v-bind:key="n">
      <img :src="'https://picsum.photos/id/'+ n +'/630/300'" width="100%" />
    </CarouselSlide>
  </Carousel>
  <SvgNext class="carousel__nav carousel__next" @click.native="next"></SvgNext>
</div>