$box-shadow-color: #000 !default;
// Shadows //
@mixin box_shadow($level, $color: $box-shadow-color) {
  @if $level == 0 {
    box-shadow: none;
  } @else if $level == 1 {
    box-shadow: 0 1px 3px rgba($box-shadow-color, 0.12), 0 1px 2px rgba($box-shadow-color, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba($box-shadow-color, 0.16), 0 3px 6px rgba($box-shadow-color, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba($box-shadow-color, 0.19), 0 6px 6px rgba($box-shadow-color, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba($box-shadow-color, 0.25), 0 10px 10px rgba($box-shadow-color, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba($box-shadow-color, 0.3), 0 15px 12px rgba($box-shadow-color, 0.22);
  }
}
