<template>
  <svg class="svg-flag-en" viewBox="0 0 283.46 283.46">
    <defs>
      <clipPath id="clip-path">
        <circle class="cls-1" cx="141.79" cy="141.73" r="113.39" />
      </clipPath>
      <clipPath id="clip-path-2">
        <circle class="cls-2" cx="445.2" cy="136.58" r="113.39" />
      </clipPath>
    </defs>
    <circle class="cls-3" cx="141.79" cy="141.73" r="113.39" />
    <g class="cls-4">
      <rect
        class="cls-5"
        x="-1.76"
        y="130.51"
        width="285.11"
        height="27.12"
        transform="translate(-60.63 141.76) rotate(-45)"
      />
      <rect
        class="cls-5"
        x="-0.15"
        y="128.9"
        width="285.11"
        height="27.12"
        transform="translate(142.44 -58.97) rotate(45)"
      />
      <rect
        class="cls-6"
        x="22.98"
        y="193.32"
        width="139.18"
        height="11.41"
        transform="translate(-113.62 123.75) rotate(-45)"
      />
      <rect
        class="cls-6"
        x="115"
        y="87.05"
        width="139.18"
        height="11.41"
        transform="translate(-11.52 157.7) rotate(-45)"
      />
      <rect
        class="cls-7"
        x="18.58"
        y="87.57"
        width="138.56"
        height="11.62"
        transform="translate(91.76 -34.77) rotate(45)"
      />
      <rect
        class="cls-7"
        x="131.14"
        y="186.72"
        width="138.56"
        height="11.62"
        transform="translate(194.84 -85.33) rotate(45)"
      />
      <rect class="cls-5" x="113.52" y="11.41" width="58.34" height="269.09" />
      <rect class="cls-5" x="-13.02" y="113.29" width="298.66" height="55.87" />
      <rect class="cls-7" x="12.45" y="125.21" width="257.58" height="31.63" />
      <rect class="cls-7" x="128.31" y="19.22" width="29.99" height="250.6" />
    </g>
    <circle class="cls-2" cx="141.79" cy="141.73" r="113.39" />
  </svg>
</template>

<style lang="scss">
.svg-flag-en {
  .cls-1,
  .cls-3 {
    fill: #2158a6;
  }
  .cls-1,
  .cls-2 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-2 {
    fill: none;
  }
  .cls-4 {
    clip-path: url(#clip-path);
  }
  .cls-5 {
    fill: #fff;
  }
  .cls-6 {
    fill: #d62128;
  }
  .cls-7 {
    fill: #d6202a;
  }
  .cls-8 {
    clip-path: url(#clip-path-2);
  }
  .cls-9 {
    fill: #da202b;
  }
}
</style>