<template>
  <svg class="svg-flag-es" viewBox="0 0 283.46 283.46">
    <defs>
      <clipPath id="clip-path">
        <circle class="cls-1" cx="141.73" cy="136.58" r="113.39" />
      </clipPath>
    </defs>
    <g class="cls-2">
      <rect class="cls-3" x="-23.28" y="2.99" width="301.81" height="94.76" />
      <rect class="cls-3" x="-9.17" y="175.54" width="301.81" height="94.76" />
      <rect class="cls-4" x="-3.7" y="97.75" width="301.81" height="77.78" />
    </g>
    <circle class="cls-1" cx="141.73" cy="136.58" r="113.39" />
  </svg>
</template>

<style lang="scss">
.svg-flag-es {
  .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-2 {
    clip-path: url(#clip-path);
  }
  .cls-3 {
    fill: #da202b;
  }
  .cls-4 {
    fill: #fcda43;
  }
}
</style>