<template>
  <svg class="svg-flag-fr" viewBox="0 0 283.46 283.46">
    <defs>
      <clipPath id="clip-path">
        <circle class="cls-1" cx="141.73" cy="141.73" r="113.39" />
      </clipPath>
    </defs>
    <g class="cls-2">
      <rect class="cls-3" x="17.26" y="0.87" width="84.35" height="279.36" />
      <rect class="cls-4" x="179.95" y="10.18" width="84.35" height="279.36" />
      <rect class="cls-5" x="101.62" y="7.99" width="78.33" height="279.36" />
    </g>
    <circle class="cls-1" cx="141.73" cy="141.73" r="113.39" />
  </svg>
</template>
<style lang="scss">
.svg-flag-fr {
  .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-2 {
    clip-path: url(#clip-path);
  }
  .cls-3 {
    fill: #2158a6;
  }
  .cls-4 {
    fill: #da202b;
  }
  .cls-5 {
    fill: #fff;
  }
}
</style>