<template >
  <div class="page page-carousels">
    <div class="navigation">
      <div class="page-title">
        <h1>Carousels</h1>
      </div>
      <div>
        <router-link :to="{ name: 'PageHome' }">Home</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'CarouselControlsIn' }"
          >Carousel Controls IN</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'CarouselControlsOut' }"
          >Carousel Controls OUT</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'CarouselLightbox' }"
          >Carousel + Lightbox</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'CarouselLightboxComplex' }"
          >Carousel + Lightbox complex</router-link
        >
      </div>
    </div>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss" ></style>
