<template >
  <div class="subpage-carousel">
    <h1>Carousel Lightbox</h1>
    <CarouselComponent />
  </div>
</template>

<script>
import CarouselComponent from "@/components/carousel/carousel-lightbox/carousel-component.vue";

export default {
  components: {
    CarouselComponent,
  },
};
</script>

<style lang="scss" >
</style>
