<div
  class="menu-icon menu-icon-right-arrow-outline"
  :class="isOpen"
  @click.prevent="burgerClicked"
>
  <svg x="0" y="0" viewBox="0 0 54 54">
    <circle cx="27" cy="27" r="26"></circle>
  </svg>
  <span></span>
</div>
