<template>
  <div class="page page-home">
    <div class="navigation">
      <div>
        <router-link :to="{ name: 'PageCarousels' }"
          >Carousel Photo</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'PageLightbox' }">Lightbox Photo</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'PageCssTricks' }"
          >Page CSS tricks</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'PageSvg' }">Page Svg</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'PageTransiRouter' }"
          >Page Transition Router</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss"></style>
