<template >
  <div class="box box-a">
    <a href="#" class="normal-underline">Normal underline.</a>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
/*------------------------------------*/
/*------ Basic Underline Styles ------*/
/*------------------------------------*/
.box.box-a {
  background: #dddddd;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  height: 125px;
  a {
    line-height: 125px;
  }

  .normal-underline {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .normal-underline,
  .normal-underline:hover {
    color: #444;
    text-decoration: underline;
  }
}
</style>
