<template >
  <div class="box-underline box-d">
    <a href="#" class="custom-underline">Custom underline.</a>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
$bue-bkg-color: #f37736 !default;
$bue-color: #fff !default;
$bue-height: 125px !default;
$bue-font-size: 24px !default;
$bue-font-weight: 400 !default;

.box-underline.box-d {
  background: $bue-bkg-color;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  height: $bue-height;
  a {
    line-height: $bue-height;
  }

  .custom-underline {
    position: relative;
    display: inline-block;
    font-size: $bue-font-size;
    font-weight: $bue-font-weight;
    text-align: center;
  }

  .custom-underline,
  .custom-underline:hover,
  .custom-underline:focus,
  .custom-underline:active {
    color: $bue-color;
    text-decoration: none;
  }

  .custom-underline::after {
    content: "";
    position: absolute;
    top: 65%;
    height: 2px;
    width: 90%;
    left: 5%;
    background-color: $bue-color;
    transition: 0.3s ease all 0.1s;
  }
  &:hover .custom-underline::after {
    top: 67.5%;
    transition: 0.4s ease all;
  }
}
</style>
