<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M44.32,92.94c-.16-.12-.4-.22-.45-.38-.15-.45-.4-1-.26-1.37a1.54,1.54,0,0,1,1.13-.8c3.47-.06,6.94,0,10.41,0a1.2,1.2,0,0,1,1.22,1c.24.8-.26,1.22-.8,1.63Z"
    />
    <path
      d="M49.93,87.76H47.57A3.86,3.86,0,0,1,43.46,84a8.76,8.76,0,0,0-2.32-5.46,11.67,11.67,0,1,1,20.39-9.12,11.43,11.43,0,0,1-2.89,9.27,8.09,8.09,0,0,0-2.2,5.19,3.88,3.88,0,0,1-4.15,3.91Z"
    />
    <path
      d="M48.62,53.33c0-.58,0-1.17,0-1.75a1.39,1.39,0,0,1,1.31-1.48,1.36,1.36,0,0,1,1.33,1.45c0,1.19,0,2.38,0,3.57A1.33,1.33,0,0,1,50,56.58c-.79,0-1.3-.55-1.34-1.51C48.59,54.49,48.62,53.91,48.62,53.33Z"
    />
    <path
      d="M36.07,55.63a6.61,6.61,0,0,1,1.14.67c.86.81,1.7,1.66,2.53,2.52a1.32,1.32,0,1,1-1.85,1.85c-.89-.86-1.76-1.74-2.63-2.63A1.15,1.15,0,0,1,35,56.58,5.82,5.82,0,0,1,36.07,55.63Z"
    />
    <path
      d="M65.18,57a6.91,6.91,0,0,1-.66,1.13c-.81.87-1.66,1.7-2.52,2.53a1.32,1.32,0,1,1-1.86-1.84q1.28-1.3,2.58-2.58a1.21,1.21,0,0,1,1.52-.3A5.24,5.24,0,0,1,65.18,57Z"
    />
    <path
      d="M36.31,85.94c-1.09,0-1.85-1.13-1.25-1.86A30.4,30.4,0,0,1,38.3,80.8,1.26,1.26,0,0,1,40,82.53c-1,1.12-2.12,2.16-3.21,3.21C36.68,85.88,36.41,85.9,36.31,85.94Z"
    />
    <path
      d="M65,84.54c0,1.13-1.18,1.82-2,1.17a34.68,34.68,0,0,1-3.16-3.14A1.11,1.11,0,0,1,60.05,81a1.08,1.08,0,0,1,1.51-.2c1.14,1,2.2,2.14,3.27,3.24A1.18,1.18,0,0,1,65,84.54Z"
    />
    <path
      d="M26.57,29.26c0-.73,0-1.47,0-2.2,0-1,.55-1.63,1.34-1.61s1.24.6,1.25,1.6c0,1.21,0,2.43,0,3.64a2.17,2.17,0,0,0,.49,1.18c.48.59,1.08,1.08,1.6,1.63a1.31,1.31,0,0,1,.09,1.9,1.29,1.29,0,0,1-1.89,0,26.31,26.31,0,0,1-2.4-2.44,3.05,3.05,0,0,1-.5-1.52A16.81,16.81,0,0,1,26.57,29.26Z"
    />
    <path
      d="M88.54,29.08c-.29-.9-1.25-1.07-2.17-1.09a1,1,0,0,1-.73-.4c-.4-.84-.72-1.72-1.08-2.64.21-.22.46-.47.69-.74a2.06,2.06,0,0,0,0-2.89c-.83-.92-1.72-1.8-2.63-2.63a1.82,1.82,0,0,0-2.5-.21c-1,1.05-1.82.78-2.8.2a1.89,1.89,0,0,0-.64-.23c-.62-.1-.77-.44-.76-1.05a2.14,2.14,0,0,0-2.37-2.34H70.81c-1.93,0-2.63.68-2.74,2.62a.85.85,0,0,1-.35.61c-.87.4-1.77.73-2.69,1.1L64.6,19A2.24,2.24,0,0,0,61,19l-1.56,1.56c-1.7,1.7-1.72,2.48-.07,4.26,0,0,.05.09.1.17-.2.41-.41.83-.6,1.27s-.3.92-.52,1.34a.74.74,0,0,1-.54.36c-2,.15-2.43.54-2.81,2.61H46c-1.25,0-1.25,0-1.45-1.21A16.85,16.85,0,0,0,12.26,25.6,45.88,45.88,0,0,0,11,30.27v3.34c.07.34.14.68.2,1A16.87,16.87,0,0,0,26,48.66c.46.05.64.21.59.66a4.68,4.68,0,0,0,0,.53q0,9,0,18a3.9,3.9,0,0,0,3.78,4.28,32.69,32.69,0,0,0,4,0,1.28,1.28,0,0,0,1.32-1.62,1.38,1.38,0,0,0-1.51-1H31.05c-1.49,0-1.84-.35-1.84-1.82,0-3.78,0-7.56,0-11.33,0-2.34,0-4.67,0-7,0-.51.15-.67.67-.75a18.51,18.51,0,0,0,3.39-.77,16.53,16.53,0,0,0,11.34-14c.07-.51.22-.68.74-.68,3.09,0,6.18,0,9.28,0,.14,0,.29,0,.42,0,.33,2,.76,2.38,2.83,2.57a.69.69,0,0,1,.49.32c.4.9.75,1.81,1.14,2.8a4.64,4.64,0,0,0-.39.32c-1.23,1.25-1.23,2.36,0,3.61.52.52,1.07,1,1.55,1.56,1.47,1.69,2.94,1.62,4.29.05,0,0,.09-.05.11-.07.76.32,1.49.68,2.25.93.55.19.8.4.79,1a2.17,2.17,0,0,0,2.27,2.39,1.64,1.64,0,0,1,.28.07c0,.16,0,.29,0,.41V68a3.2,3.2,0,0,1,0,.53,1.16,1.16,0,0,1-1.05,1,5.72,5.72,0,0,1-.83,0c-1,0-2.08,0-3.12,0a1.3,1.3,0,0,0-1.4,1.21,1.14,1.14,0,0,0,1.12,1.35A27.66,27.66,0,0,0,70.44,72c1.83-.29,2.9-2,2.9-4.1q0-9.06,0-18.1V48.9c2-.32,2.44-.77,2.62-2.82a.84.84,0,0,1,.44-.56c.61-.29,1.28-.48,1.88-.79a.85.85,0,0,1,1.22.19,2.18,2.18,0,0,0,3.4,0c.76-.74,1.52-1.49,2.25-2.27a2.08,2.08,0,0,0,0-3.11,3.77,3.77,0,0,0-.67-.49c.39-.92.75-1.62,1-2.36s.45-.9,1.14-.86a1.81,1.81,0,0,0,2-1.05A9.21,9.21,0,0,0,88.54,29.08ZM27.88,41A9.1,9.1,0,1,1,37,31.92,9.17,9.17,0,0,1,27.88,41Zm44.12,0A9.15,9.15,0,1,1,81.16,32,9.23,9.23,0,0,1,72,41.08Z"
    />
    <path
      d="M73.28,32A1.25,1.25,0,0,1,72,33.19a1.26,1.26,0,0,1,.11-2.52A1.26,1.26,0,0,1,73.28,32Z"
    />
  </svg>
</template>