<template>
  <svg class="icon icon-svg" viewBox="0 0 100 100">
    <path
      d="M57.54,17c0,.81-.31,1.09-1.11,1.08-1.94,0-3.88,0-5.82,0v0c-2.12,0-4.93,0-7,0-.8,0-1.13-.27-1.11-1.08,0-1.95,0-3.89,0-5.84S43.7,8,45.8,8c2.77,0,1.42,0,4.2,0s1.43,0,4.2,0c2.1,0,3.26,1.07,3.32,3.15S57.51,15.05,57.54,17Z"
    />
    <path
      d="M67.71,52c0-.32-.35-.65-.43-1a2.47,2.47,0,0,1-.11-1.38,10.55,10.55,0,0,0-.09-8.91,91,91,0,0,0-4.44-8.32C61.83,31,60.91,29.6,60,28.24c-.41-.6-.2-.93.25-1.38a5.68,5.68,0,0,0,1.34-1.73,2.16,2.16,0,0,0-2.5-3,8.57,8.57,0,0,1-1.24.05H42.16a8.57,8.57,0,0,1-1.24-.05,2.16,2.16,0,0,0-2.5,3,5.68,5.68,0,0,0,1.34,1.73c.45.45.66.78.25,1.38-.92,1.36-1.84,2.73-2.65,4.16a91,91,0,0,0-4.44,8.32,10.55,10.55,0,0,0-.09,8.91A2.47,2.47,0,0,1,32.72,51c-.08.36-.45.69-.43,1,.14,2.41-.59,4.89.58,7.23A1.33,1.33,0,0,1,33,60.33c-1.08,1.9-.68,4-.67,6A17.71,17.71,0,0,0,33,69.52,4.51,4.51,0,0,1,33,71c-.15.93-.5,1.83-.58,2.76a33,33,0,0,0,0,4.1,48.82,48.82,0,0,0,.54,7.37C33.66,89,37.74,92,41.6,92H58.4c3.86,0,7.94-3,8.68-6.74a48.82,48.82,0,0,0,.54-7.37,33,33,0,0,0,0-4.1C67.5,72.86,67.15,72,67,71a4.51,4.51,0,0,1,0-1.51,17.71,17.71,0,0,0,.68-3.23c0-2,.41-4.06-.67-6a1.33,1.33,0,0,1,.08-1.08C68.3,56.91,67.57,54.43,67.71,52Zm-5.09,1.76c0,.71,0,1.41,0,2.12,0,2-.1,2.09-2.12,2.08l-6.22,0c-.62,0-1.25,0-1.87,0-1.26.08-2.16.77-2.16,1.63a2.41,2.41,0,0,0,2.34,2c1.49,0,3,0,4.48,0a23,23,0,0,1,3.8.37c.46.1.81.75,1.2,1.16,0,.05,0,.16,0,.24.41,3.86.19,4.06-3.63,4.13a58.59,58.59,0,0,0-5.91.48,2.8,2.8,0,0,0-1.59.85,2,2,0,0,0-.56,1.59,2.44,2.44,0,0,0,1.4,1.16,6.12,6.12,0,0,0,2,.16c2.53,0,5.06,0,7.59,0,.4,0,.81,0,1,.06v8a18.74,18.74,0,0,0,0,2.12,5.08,5.08,0,0,1-3,5.27,3.31,3.31,0,0,1-1.53.31c-2.64,0-5.28,0-7.92,0s-5.28,0-7.92,0a3.31,3.31,0,0,1-1.53-.31,5.08,5.08,0,0,1-3-5.27,18.74,18.74,0,0,0,0-2.12v-8c.24,0,.65-.06,1-.06,2.53,0,5.06,0,7.59,0a6.12,6.12,0,0,0,2-.16,2.44,2.44,0,0,0,1.4-1.16A2,2,0,0,0,49,68.86,2.8,2.8,0,0,0,47.45,68a58.59,58.59,0,0,0-5.91-.48c-3.82-.07-4-.27-3.63-4.13,0-.08,0-.19,0-.24.39-.41.74-1.06,1.2-1.16a23,23,0,0,1,3.8-.37c1.49-.06,3,0,4.48,0a2.41,2.41,0,0,0,2.34-2c0-.86-.9-1.55-2.16-1.63-.62,0-1.25,0-1.87,0l-6.22,0c-2,0-2.14-.12-2.12-2.08,0-.71,0-1.41,0-2.12,0-1.83,0-1.86,1.89-1.86h8.21c.86,0,1.69-.28,1.82-1.16a3.18,3.18,0,0,0-.46-2.12,2.59,2.59,0,0,0-1.78-.84c-2.56-.09-5.14,0-7.71-.06-.65,0-1.45,0-1.49-.92-.11-2.28-.24-4.56,1.12-6.61,1.82-2.77,3.49-5.64,5.41-8.34,2.86-4,2-4,5.61-3.86,3.62-.13,2.75-.17,5.61,3.86,1.92,2.7,3.59,5.57,5.41,8.34,1.36,2.05,1.23,4.33,1.12,6.61,0,.94-.84.91-1.49.92-2.57,0-5.15,0-7.71.06a2.59,2.59,0,0,0-1.78.84,3.18,3.18,0,0,0-.46,2.12c.13.88,1,1.16,1.82,1.16h8.21C62.6,51.92,62.62,52,62.62,53.78Z"
    />
  </svg>
</template>