<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M8.36,58.29a15.33,15.33,0,0,1,1.45-2q9.95-10,20-20a4.13,4.13,0,0,1,1.83-1.1,2.89,2.89,0,0,1,3.53,3c0,2.28,0,4.55,0,6.83v2h1.1c10.36,0,20.71,0,31.06,0a3.22,3.22,0,0,1,3.54,3.55c-.1,1.29,0,2.59,0,3.72L84.11,41,70.85,27.73c0,.12,0,.35,0,.58,0,1.3,0,2.6,0,3.9a2.91,2.91,0,0,1-2.58,2.88,5.51,5.51,0,0,1-.81,0H44.48a4.68,4.68,0,0,1-1.44-.2A3,3,0,0,1,44,29.2c1.41,0,2.82,0,4.23,0H64.81c0-.36,0-.65,0-.93q0-3.82,0-7.65a3,3,0,0,1,1.83-3.08,3,3,0,0,1,3.52.9L90.5,38.72a3,3,0,0,1,0,4.7Q80.37,53.58,70.21,63.71a3,3,0,0,1-3.52.92,3.07,3.07,0,0,1-1.84-3.15c0-2.52,0-5,0-7.56V53H32.65c-2.38,0-3.47-1.1-3.47-3.48V45.65L15.82,59,29.18,72.34V68.43c0-2.46,1.11-3.57,3.57-3.57q11.31,0,22.61,0a5.41,5.41,0,0,1,1.6.21,2.92,2.92,0,0,1,1.92,3.21,3,3,0,0,1-2.94,2.53c-2.63,0-5.26,0-7.89,0H35.13v.94c0,2.52,0,5,0,7.56a3.09,3.09,0,0,1-1.85,3.15,3,3,0,0,1-3.52-.91Q19.65,71.44,9.54,61.31A12.06,12.06,0,0,1,8.36,59.6Z"
    />
  </svg>
</template>
