<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M80,50c0,5.84,0,11.67,0,17.5a5.55,5.55,0,0,1-10.63,2.18A7.11,7.11,0,0,1,68.82,67q0-17,0-34.08a5.62,5.62,0,0,1,5.61-6C77.63,27,80,29.5,80,33c0,5.68,0,11.36,0,17Z"
    />
    <path
      d="M20,49.93c0-5.83,0-11.66,0-17.49a5.55,5.55,0,0,1,10.81-1.65,6.92,6.92,0,0,1,.33,2.13q0,17.09,0,34.19A5.57,5.57,0,0,1,26.08,73a5.51,5.51,0,0,1-5.95-4.41,8.73,8.73,0,0,1-.12-1.7q0-8.46,0-16.93Z"
    />
    <path d="M34,44.49H65.93v11H34Z" />
    <path
      d="M12.19,42.22c.7-4.33,2.06-6.07,5-6.34V64.06c-2.62.07-4.18-1.88-5-6.21-2.94.39-4.06-.59-4.06-3.57s0-6,0-8.92C8.14,42.76,9.58,41.62,12.19,42.22Z"
    />
    <path
      d="M87.66,57.8c.08,2-.36,3.91-2.06,5.17a19.62,19.62,0,0,1-2.8,1.47V35.9c2.86.14,4.43,2.14,5,6.3a4,4,0,0,0,.5-.07,2.71,2.71,0,0,1,3.56,2.62c.07,3.5.08,7,0,10.52C91.77,57.33,90.2,58.26,87.66,57.8Z"
    />
  </svg>
</template>