<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M17.21,24.55a16.09,16.09,0,0,0,5.1-.68A8.93,8.93,0,0,0,25.57,22a9.3,9.3,0,0,0,2-2.72A24.5,24.5,0,0,0,29,16h7.19V84H25.47V32.13H17.21Z"
    />
    <path
      d="M59.76,84H49.08V16H59.76V45.14H71.91V16H82.79V84H71.91V54.86H59.76Z"
    />
  </svg>
</template>