<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M90,48.91a8,8,0,0,1-1.48,1.92,3,3,0,0,1-4.44-1.61q-1.36-3.73-2.66-7.49a1,1,0,0,0-1-.79c-1.06-.12-2.11-.3-3.26-.47.12.3.19.53.29.76,1.44,3.42,2.89,6.84,4.31,10.28a10.11,10.11,0,0,1,.57,2.09,3.24,3.24,0,0,1-1,2.88c-1.92,2-3.77,4-5.72,6.11,1.21,1.47,2.65,3.21,4.1,5L85.06,74a3.64,3.64,0,0,1-.27,5.35,3.71,3.71,0,0,1-5.37-.75L69.35,66.49l-.52-.6c-.16.28-.29.52-.41.75-1.91,3.84-3.81,7.69-5.73,11.52a3.55,3.55,0,0,1-3.79,2,3.38,3.38,0,0,1-3-2.77A4.28,4.28,0,0,1,56.18,75c2.57-5.32,5.21-10.59,7.87-15.86a4.86,4.86,0,0,1,1.39-1.54c1.55-1.18,3.15-2.28,4.77-3.44l-3-7.23-1.58,1.88A3,3,0,0,1,62.76,50c-3.38-.4-6.77-.79-10.15-1.25a2.93,2.93,0,0,1-2.45-3.35,2.89,2.89,0,0,1,3.15-2.6,61.45,61.45,0,0,1,6.35.76c1.57.3,2.78.12,3.57-1.37a.9.9,0,0,1,.16-.18,3,3,0,0,0,1-2.71A4.21,4.21,0,0,1,67,34.82a12.45,12.45,0,0,1,3.74-1.23,15.6,15.6,0,0,1,3.94.36c3,.42,5.91.92,8.87,1.34a3.26,3.26,0,0,1,2.83,2.33q1.73,4.92,3.49,9.84a1.06,1.06,0,0,0,.12.2Z"
    />
    <path
      d="M25.78,59.78c-1-2.31-1.84-4.61-2.89-6.84s-.87-3.66,1.22-5.68l8-7.79c.14-.14.27-.3.45-.51-1.25-.33-2.42-.67-3.61-.93-.19,0-.51.18-.68.37-1.84,2-3.66,4-5.5,6a2.92,2.92,0,0,1-3.06.89,2.86,2.86,0,0,1-2.12-2.19,2.75,2.75,0,0,1,.6-2.64q3.63-4,7.33-8a2.87,2.87,0,0,1,2.95-.79c3.85,1,7.72,1.92,11.55,3A8,8,0,0,1,44.94,39a4.49,4.49,0,0,1-.41,4.54,1.54,1.54,0,0,0-.16,1.05c.22.94.55,1.84.81,2.77a1,1,0,0,0,.82.79c2.5.7,5,1.4,7.49,2.16a3,3,0,0,1,1.82,4.32A3,3,0,0,1,52,56.15c-3.33-.92-6.65-1.88-10-2.85a2.93,2.93,0,0,1-2-2c-.25-.76-.47-1.54-.76-2.46l-4.72,5.25-.36-.26c.2.23.38.47.59.69,2.23,2.47,4.44,5,6.7,7.41a4.15,4.15,0,0,1,1,4.3c-1.06,3.72-2,7.47-3,11.21a3.61,3.61,0,0,1-3.57,2.81,3.49,3.49,0,0,1-3.47-2.71,4.29,4.29,0,0,1,0-1.92c.78-3,1.6-6.08,2.45-9.11a1.17,1.17,0,0,0-.35-1.37,16,16,0,0,1-1.11-1.21C28.37,66.77,23.14,69.3,18,72q-1.25.66-2.49,1.29a3.64,3.64,0,1,1-3.34-6.46l12.6-6.54Z"
    />
    <path d="M67.71,31a5.59,5.59,0,1,1,5.57-5.63A5.61,5.61,0,0,1,67.71,31Z" />
    <path
      d="M53.75,74.61a5.6,5.6,0,1,1-5.64-5.56A5.58,5.58,0,0,1,53.75,74.61Z"
    />
    <path d="M47,23.54a5.59,5.59,0,1,1-5.58,5.63A5.61,5.61,0,0,1,47,23.54Z" />
  </svg>
</template>