<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M75.67,16.88c.73-4-1.11-6.9-5.08-7.77-3.19-.69-5.94,1.32-6.77,5.11-1.33,6-2.52,12-3.86,17.92-.8,3.59-1.16,7.31-2.81,11a9.45,9.45,0,0,1-1.4-3.69c-1.94-8.67-3.89-17.34-5.74-26-1-4.54-3.68-6.94-7.41-6.27s-5.81,3.71-5.07,8.25q1.74,10.58,3.71,21.11c.28,1.5.29,2.15-1.63,2.17-3.19,0-6,1.2-7.14,4.53-.35,1-1,1-1.79,1.14-4.58.83-6.62,3.21-6.5,7.9.11,4.35,1.28,8.61,1.29,13A37.19,37.19,0,0,0,27,75.31c2,7.22,5.87,13.06,13.2,15.82a28,28,0,0,0,18,.71C69,88.72,75.67,76.64,72.7,65c-1.7-6.69-2.87-13.29-1.82-20.22C72.3,35.47,74,26.17,75.67,16.88ZM39.89,41.22c1.38,0,2.36.22,2.58,2,.33,2.68,1,5.09.06,8-1.34,4.24.93,7.94,4.35,10.55,1.79,1.37,1.23,2.22,0,3.29-2.33,2.09-5.24,1.47-6.86-1.64A57.57,57.57,0,0,1,35.2,49.55a18.11,18.11,0,0,1-.47-2.81C34.48,43.09,36.19,41.28,39.89,41.22ZM26.74,52.93c0-3.89,1.18-5.37,4-6,.85-.19,1.32-.19,1.51.82,1.2,6.5,3,12.81,6.54,18.48.73,1.16-.25,1.41-.88,1.72-2,1-4.4.32-6.12-1.82A23.86,23.86,0,0,1,26.74,52.93ZM67.83,81c-3.51,5.92-8.72,8.85-15.47,9.15a28.73,28.73,0,0,1-9-.74C34.64,87,30.88,80.48,29,72.35c-.43-1.93-.64-3.92-1-6.37,1.22,1.28,2.07,2.32,3.07,3.19a7,7,0,0,0,9.36.22A3,3,0,0,1,43,68.75a6.75,6.75,0,0,0,7-3.45c.73-1.28,1.42-1.24,2.62-.36-4.12,4.59-6.12,9.83-4.41,16.07,1.46-5.37,2.56-10.91,7.32-14.9.79,2.65,1,5.46,3.71,7.83a57.81,57.81,0,0,1-.76-9.42c0-1.21-1-1.41-2-1.57a17.26,17.26,0,0,1-8.14-3.33,9.61,9.61,0,0,1-2.18-2.49c-1.14-1.82-2.28-4-.84-5.92,1.22-1.66,3.28-.54,4.87-.12a128.26,128.26,0,0,1,15,4.67A4.58,4.58,0,0,1,68,58.16c3,7.62,4.33,15.23-.2,22.85Zm.56-37.24c-.51,3.28-.56,6.64-.83,10-5.48-2.22-11.1-4.31-16.93-5.19-4-.61-5.1-2.38-5.65-6C43.55,33.28,41.68,24,40,14.71c-.48-2.74.64-4.52,2.88-4.92s3.63.6,4.31,3.57c2,9.06,4,18.13,6.09,27.18a14.47,14.47,0,0,0,1.41,3.76c1.36,2.44,3.49,2.42,4.77-.06,1.77-3.44,2.12-7.3,2.92-11C63.75,27.1,65,21,66.32,14.83c.55-2.53,2.05-3.5,4.27-3,2,.46,2.84,2,2.42,4.44-1.54,9.15-3.17,18.3-4.62,27.48Z"
    />
    <circle cx="42.2" cy="15.82" r="1.04" />
    <circle cx="45.32" cy="15.08" r="1.04" />
    <path
      d="M41.77,18.41s3.29,1.82,5-1.25C46.79,20.84,43.72,21.7,41.77,18.41Z"
    />
    <circle cx="67.83" cy="17.16" r="1.04" />
    <circle cx="70.96" cy="17.82" r="1.04" />
    <path d="M66.34,19.33s2.2,3,5.07,1C69.85,23.65,66.7,23.13,66.34,19.33Z" />
  </svg>
</template>