<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M51.51,10c.54.14,1.1.26,1.64.42,5.5,1.56,8.92,7.19,8.05,13.23a11.1,11.1,0,0,1-22.12-1.08A11.61,11.61,0,0,1,48.6,10.12a1.51,1.51,0,0,0,.31-.12Z"
    />
    <path
      d="M59,55.08c.12,1.26.19,2.38.33,3.49a1.53,1.53,0,0,0,.46.69l12,13.11a7,7,0,0,1,.42,9.13,6.14,6.14,0,0,1-5,2.45q-12,0-24,0c-3,0-5.37-2.66-5.5-6s2.06-6.12,5-6.41c1.5-.14,3-.07,4.51-.08h7a5.47,5.47,0,0,0-3.62-1.9c-2.69-.07-5.38-.1-8.07,0-3,.12-5.68,2.81-6.37,6.15a8.72,8.72,0,0,0,2,7.89l.32.39H32.62a6.44,6.44,0,0,1-6.1-4.17A7.07,7.07,0,0,1,28,72.32q6-6.48,12.11-12.95A1.89,1.89,0,0,0,40.71,58c0-.93.16-1.86.26-2.93-.28.2-.48.34-.67.49-4.26,3.26-8.51,6.55-12.78,9.8a4.54,4.54,0,0,1-7-1.69,5.12,5.12,0,0,1,1.63-6.38c3.5-2.69,7-5.42,10.52-8a7,7,0,0,0,2.66-3.57c.93-2.66,2-5.26,3-7.88A4.68,4.68,0,0,1,43,34.58H57.06a4.66,4.66,0,0,1,4.58,3.23c1.23,3.15,2.44,6.32,3.69,9.47a2.27,2.27,0,0,0,.69.93c3.89,3,7.8,6,11.71,9a5.15,5.15,0,0,1,2,5.85,4.58,4.58,0,0,1-7.29,2.3c-3.47-2.65-6.93-5.33-10.39-8Z"
    />
  </svg>
</template>