<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M22.53,32.45c0,.28,0,.5,0,.71,0,.77,0,1.55,0,2.32A1.63,1.63,0,0,0,23,36.53a1.22,1.22,0,0,0,1.07.16,1.5,1.5,0,0,0,.66-1c.08-1,0-2.11,0-3.23h2.7c1.17,0,1.69-.36,1.68-1.13s-.54-1.09-1.66-1.09H24.75c0-1.17,0-2.23,0-3.28a1.07,1.07,0,0,0-2.13-.13,6.57,6.57,0,0,0-.05,1c0,.79,0,1.57,0,2.42h-.81c-.77,0-1.55,0-2.32,0s-1.37.62-1.18,1.38a1.11,1.11,0,0,0,1.2.83ZM76.3,42.31a18.78,18.78,0,0,0,0-2.27,1.31,1.31,0,0,0-.65-.88,1.26,1.26,0,0,0-1.07.17,1.7,1.7,0,0,0-.4,1.06c-.06.62,0,1.25,0,1.92-.71,0-1.31,0-1.9,0-.87,0-1.37.41-1.37,1.1s.49,1.1,1.35,1.11H74c0,.1.09.14.09.18,0,.6,0,1.19,0,1.79,0,.83.43,1.29,1.1,1.28s1.06-.48,1.07-1.32c0-.63,0-1.26,0-1.93.75,0,1.39,0,2,0,.79,0,1.29-.49,1.27-1.14s-.51-1.05-1.27-1.07S77.05,42.31,76.3,42.31Z"
    />
    <path
      d="M54.51,84c-1.65-.27-3.33-.43-5-.81A30,30,0,0,1,32.06,71.84a27.84,27.84,0,0,1-3.89-6.91.94.94,0,0,0-1.08-.69c-3.14,0-6.28,0-9.43,0C16.28,64.25,16,64,16,62.58V56.93c0-1.08.39-1.47,1.49-1.47H25.9V51.08H17.53c-1.21,0-1.53-.32-1.53-1.54V43.9c0-1.27.33-1.59,1.63-1.59q4.82,0,9.63,0a.79.79,0,0,0,.86-.59A30,30,0,0,1,40.48,27.08a29.12,29.12,0,0,1,12.62-4.3,29.51,29.51,0,0,1,21.49,6.44,1.15,1.15,0,0,1,.11,2q-3.63,3.66-7.27,7.28c-.66.66-1.06.67-1.94.12A17,17,0,0,0,54.05,35.9a17.16,17.16,0,0,0-11.26,6.41h.7c2,0,4.07,0,6.11,0,1.11,0,1.48.36,1.48,1.46q0,3,0,5.91c0,1-.35,1.4-1.4,1.4-3.25,0-6.5,0-9.76,0H39v4.38H49.55c1.16,0,1.53.36,1.53,1.49,0,1.94,0,3.89,0,5.84,0,1.12-.34,1.45-1.47,1.46-2,0-4,0-6,0h-.71l-.11.21c.92.87,1.77,1.83,2.76,2.61a16.58,16.58,0,0,0,10.61,3.74,16.76,16.76,0,0,0,8.87-2.59l.73-.45a1.11,1.11,0,0,1,1.46.1c2.51,2.15,5,4.28,7.51,6.45a1.08,1.08,0,0,1,0,1.82,38.06,38.06,0,0,1-12.76,7c-1.16.33-2.38.47-3.57.71A2.13,2.13,0,0,0,58,84Z"
    />
    <path
      d="M84,21.84a1.65,1.65,0,0,1-1.63.76c-.89,0-1.77,0-2.76,0v2.46c0,.22,0,.44,0,.66a1.11,1.11,0,1,1-2.2.07c0-.82,0-1.64,0-2.46,0-.21,0-.43,0-.73-.62,0-1.21,0-1.8,0s-.93,0-1.39,0A1.14,1.14,0,0,1,73,21.43a1.11,1.11,0,0,1,1.22-1c1,0,2,0,3.14,0V17.65c0-1.09.37-1.64,1.1-1.65s1.11.52,1.11,1.63c0,.84,0,1.68,0,2.52a1.47,1.47,0,0,0,0,.23c.87,0,1.77,0,2.66,0A1.82,1.82,0,0,1,84,21Z"
    />
    <path
      d="M22.53,32.45H19.45a1.11,1.11,0,0,1-1.2-.83c-.19-.76.3-1.35,1.18-1.38s1.55,0,2.32,0h.81c0-.85,0-1.63,0-2.42a6.57,6.57,0,0,1,.05-1,1.07,1.07,0,0,1,2.13.13c0,1.05,0,2.11,0,3.28h2.73c1.12,0,1.64.35,1.66,1.09s-.51,1.13-1.68,1.13h-2.7c0,1.12,0,2.18,0,3.23a1.5,1.5,0,0,1-.66,1A1.22,1.22,0,0,1,23,36.53a1.63,1.63,0,0,1-.42-1.05c-.06-.77,0-1.55,0-2.32C22.56,33,22.54,32.73,22.53,32.45Z"
    />
    <path
      d="M76.3,42.31c.75,0,1.39,0,2,0s1.25.43,1.27,1.07-.48,1.12-1.27,1.14c-.63,0-1.27,0-2,0,0,.67,0,1.3,0,1.93,0,.84-.4,1.31-1.07,1.32s-1.08-.45-1.1-1.28c0-.6,0-1.19,0-1.79,0,0,0-.08-.09-.18H72.21c-.86,0-1.36-.43-1.35-1.11s.5-1.09,1.37-1.1c.59,0,1.19,0,1.9,0,0-.67,0-1.3,0-1.92a1.7,1.7,0,0,1,.4-1.06,1.26,1.26,0,0,1,1.07-.17,1.31,1.31,0,0,1,.65.88A18.78,18.78,0,0,1,76.3,42.31Z"
    />
  </svg>
</template>