<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M11.13,65.66c.26-1.11.43-2.25.78-3.34A15.71,15.71,0,0,1,30.57,51.83l.68.15,1-2.43c-1.81-.6-2.52-1.33-2.56-2.61s.56-2.08,2.39-2.82c-.31-2.12.69-3.61,2.3-4.9,5.42-4.33,10.79-8.73,16.19-13.08a6.27,6.27,0,0,1,10.18,3.3,6.59,6.59,0,0,1-.15,3.24c-.43,1.35,0,2.55.06,3.94l5.18-1.93c1-.36,2-.75,2.94-1.1a3.3,3.3,0,1,1,2.37,6.15l-.62.27q.48,2.41,1,4.8c.38,1.91.81,3.8,1.14,5.72.12.69.36.89,1.07.87a15.76,15.76,0,1,1-14.38,9.94c.07-.17.13-.33.22-.59l-3-1.82c-1.54,2.53-3.06,5-4.55,7.46a4.6,4.6,0,0,1-3.25,2.34A4.6,4.6,0,0,1,44,61.83c1.5-2.53,3.05-5,4.58-7.54l.55-.92-5.2-2.13c-.87-.36-1.78-.65-2.62-1.08a7.62,7.62,0,0,0-4.17-.7.83.83,0,0,0-.6.32C36,51,35.44,52.26,35,53.38a38.82,38.82,0,0,1,3.65,3.27c4.14,4.74,5.24,10.22,3,16.09a15,15,0,0,1-13,10.08A15.7,15.7,0,0,1,11.27,69.16a2.3,2.3,0,0,0-.14-.42Zm51.94-2.79c-2.1,4.54-.43,10.47,3.78,13.69A11.82,11.82,0,0,0,84.46,61.65c-2.13-4-7.48-7.09-10.79-6.17.5,2.45,1,4.9,1.48,7.36a1.25,1.25,0,0,0,.71,1,3.76,3.76,0,0,1,1.85,4.37,3.84,3.84,0,0,1-7.48-.27c-.07-.32-.14-.78-.37-.92C67.63,65.6,65.37,64.26,63.07,62.87ZM38.46,69.15h-.75c-2.28,0-4.56,0-6.84,0a1.54,1.54,0,0,0-1,.47,3.87,3.87,0,0,1-4.39,1.09,3.86,3.86,0,0,1,.36-7.27,1.54,1.54,0,0,0,.81-.76c.93-2.07,1.81-4.17,2.7-6.26.1-.23.18-.46.26-.69a11.51,11.51,0,0,0-12,4.09A11.82,11.82,0,0,0,30,78.57,11.65,11.65,0,0,0,38.46,69.15ZM61.64,57.38A16.29,16.29,0,0,1,69,52.21c-.73-3.62-1.44-7.18-2.17-10.8-.39.13-.67.22-1,.33-2.15.8-4.3,1.63-6.46,2.41a3.33,3.33,0,0,1-4.77-3c-.06-.6-.15-1.19-.24-1.92l-5.16,4.18.65.28c2.51,1,5,2,7.53,3.06a4.62,4.62,0,0,1,2.29,7l-1.06,1.78Zm-23.1,7.81a11.92,11.92,0,0,0-5.24-7.95c-1.06,2.5-2.1,4.94-3.15,7.37-.21.51.08.58.47.58h7.92ZM65.1,59.47l6.07,3.66c-.48-2.41-.93-4.65-1.4-7A11.66,11.66,0,0,0,65.1,59.47Z"
    />
    <path d="M59,21a7,7,0,1,1,7,7A7,7,0,0,1,59,21Z" />
  </svg>
</template>

