<template>
  <svg class="svg-banner" viewBox="0 0 1920 500">
    <defs>
      <linearGradient id="BannerGradient">
        <stop class="stop1" offset="0%" />
        <stop class="stop2" offset="100%" />
      </linearGradient>
    </defs>
    <polygon
      points="1920 0 1720 100 200 100 0 200 0 500 200 400 1720 400 1920 300 1920 0"
    />
  </svg>
</template>