<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M51.79,8a9.44,9.44,0,1,0,9.43,9.44A9.44,9.44,0,0,0,51.79,8Zm0,15.27a5.84,5.84,0,1,1,5.83-5.83A5.83,5.83,0,0,1,51.79,23.27Z"
    />
    <path
      d="M46,30.4A2.18,2.18,0,0,1,48,32.49,2.08,2.08,0,0,1,46,34.57a5,5,0,0,0-5.13,2.09c-1.49,2.37-4,25.24-4,25.24a2.09,2.09,0,0,1-4.17,0S35.08,39.34,35.5,38,37.84,30.34,46,30.4Z"
    />
    <path
      d="M57.62,30.4a2.13,2.13,0,0,0-2.09,2.09,2.08,2.08,0,0,0,2.09,2.08s2.45-.75,4.07,2.78,1.44,4.86,1.44,22.46H60.59A2.1,2.1,0,0,0,58.5,61.9v24a2.09,2.09,0,1,1-4.17,0l-.46-24a2.09,2.09,0,1,0-4.17,0l-.31,24a2.08,2.08,0,1,1-4.16,0L45,61.9a2.08,2.08,0,1,0-4.16,0v24A6.1,6.1,0,0,0,47,92c2,0,3.72-.46,4.84-1.91C52.9,91.54,54.65,92,56.62,92a6.1,6.1,0,0,0,6.1-6.1V64h2.5A2.08,2.08,0,0,0,67.3,61.9V44s.54-9.42-5.17-12.78C61,30.4,58.66,30.37,57.62,30.4Z"
    />
    <path
      d="M32.68,79.8a2.09,2.09,0,1,0,4.17,0V69.23a2.09,2.09,0,0,0-4.17,0Z"
    />
    <path
      d="M53.89,47.28a2,2,0,0,1-4,0l1.19-10.36a.79.79,0,0,1,.79-.8.8.8,0,0,1,.8.8Z"
    />
  </svg>
</template>