<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M83,41.36c-.29,1.4-.47,2.83-.88,4.2A21.74,21.74,0,0,1,72.05,58a40.22,40.22,0,0,1-14.33,5.48c-1.68.28-3.41.32-5.12.49a5.25,5.25,0,0,0-1.43.27c-3.92,1.66-7.87,3.28-11.75,5a31.36,31.36,0,0,0-8.76,6.37c-2.09,2-4.15,4.1-6.22,6.16a3.34,3.34,0,0,1-5.15,0l-1.23-1.23a3.32,3.32,0,0,1,.07-4.92c1.95-2,3.94-4,5.77-6.06a63.41,63.41,0,0,0,12-21.06,14.42,14.42,0,0,0,.31-3.18c.8-8.2,3.6-15.58,9.14-21.74a19.55,19.55,0,0,1,12.8-6.5,1.61,1.61,0,0,0,.36-.1h3.22a1.76,1.76,0,0,0,.3.1,21.09,21.09,0,0,1,10.61,4.1,24.34,24.34,0,0,1,9.62,13.36c.33,1.21.49,2.47.74,3.71Zm-44.77,7c.09.76.17,2.22.45,3.65.78,4,2.86,7.12,6.87,8.63a17.39,17.39,0,0,0,5.66,1.09,34.9,34.9,0,0,0,16.84-4.05,24.5,24.5,0,0,0,8.29-6.08c4.07-4.91,5.5-10.44,3.72-16.6A21.85,21.85,0,0,0,68.54,21.3a17.64,17.64,0,0,0-20.27,2.49,25.16,25.16,0,0,0-5.68,7.65A37.08,37.08,0,0,0,38.23,48.34ZM25.43,77.68c3.11-3.08,6.13-6.22,9.83-8.6A71,71,0,0,1,47,63.43c-1-.32-1.77-.63-2.61-.88a1.42,1.42,0,0,0-.89,0A63.87,63.87,0,0,0,33.75,68a6.14,6.14,0,0,1-.76.49A1.09,1.09,0,0,1,31.53,67a5.48,5.48,0,0,1,.38-.6,65.18,65.18,0,0,0,5.52-9.94,1.07,1.07,0,0,0,.15-.6c-.3-1-.65-1.88-1-2.93A64.45,64.45,0,0,1,22.32,74.57Zm-1.67,1.7L20.6,76.2c-.33.36-.7.74-1.06,1.14a1.07,1.07,0,0,0,0,1.61c.48.52,1,1,1.51,1.5a1,1,0,0,0,1.55,0C23,80.11,23.41,79.72,23.76,79.38ZM36.19,63.8l5.1-2.63-2.44-2.52Z"
    />
    <path
      d="M83,73.19c-.13.56-.25,1.13-.39,1.68a11,11,0,1,1,.26-4.48,4.27,4.27,0,0,0,.13.48Zm-5.3,5.43a8,8,0,0,1,0-13.24c-3.22-3.09-8.79-2.7-11.35,0a8.08,8.08,0,0,1,0,13.25A8.64,8.64,0,0,0,77.7,78.62ZM64.8,77a5.67,5.67,0,0,0,2.76-5.24A5.56,5.56,0,0,0,64.77,67,8.61,8.61,0,0,0,64.8,77Zm14.42,0a8.45,8.45,0,0,0,0-9.85A5.74,5.74,0,0,0,79.22,76.93Z"
    />
    <path
      d="M26.36,34.6H18.63a3.29,3.29,0,0,1-.77-.06A1,1,0,0,1,17,33.48a1,1,0,0,1,.87-1,4.17,4.17,0,0,1,.71,0H34.43c.79,0,1.25.43,1.26,1.08s-.46,1.11-1.29,1.12Z"
    />
    <path
      d="M29.64,26.91h8c.87,0,1.38.41,1.38,1.09s-.52,1.1-1.38,1.1h-16c-.86,0-1.34-.43-1.32-1.14s.46-1.05,1.26-1.05h8.05Z"
    />
    <path
      d="M33.46,23.59c-2.49,0-5,0-7.47,0A1.13,1.13,0,0,1,24.83,23a1.07,1.07,0,0,1,.77-1.54,2.78,2.78,0,0,1,.58,0H40.85a1.28,1.28,0,0,1,1.35.67,1.09,1.09,0,0,1-1.14,1.52Z"
    />
    <path
      d="M52.1,59.85a50.17,50.17,0,0,1-5-.91c-3.44-1-5.4-3.38-6.21-6.81a23.23,23.23,0,0,1,.29-10.84A36.28,36.28,0,0,1,46.81,28.7a16.73,16.73,0,0,1,8.61-6.55A15.34,15.34,0,0,1,67.81,23.3,19.73,19.73,0,0,1,78,35.45c1.69,5.86.2,11-4,15.39a30,30,0,0,1-12.52,7.24,30.13,30.13,0,0,1-9.29,1.58ZM64.49,46.53l5.18,5.19L72.78,49l-5.41-5.41ZM51,27.18l-2.71,3.17,5.14,5.15,3-3Zm10.17.64c-1.22-1.2-2.46-2.45-3.72-3.68A.54.54,0,0,0,57,24a12,12,0,0,0-4,1.75l5.1,5.14ZM74.24,47a12.68,12.68,0,0,0,1.77-4,.5.5,0,0,0-.09-.4c-1.26-1.28-2.54-2.55-3.75-3.76l-3,3ZM47,32.47c-.62,1.29-1.24,2.57-1.84,3.87a.52.52,0,0,0,.09.45c1.17,1.19,2.35,2.36,3.44,3.46l3-3ZM62.78,48.3l-3,3.05c1.11,1.1,2.25,2.26,3.42,3.39a.57.57,0,0,0,.49.13c1.3-.6,2.59-1.23,3.87-1.84Zm-14-4.73-3,3,3,2.95,2.94-3Zm1.64,7.63,2.93,2.94,2.94-2.9-2.94-3ZM62.71,35.57l3-3-2.94-2.93-3,3Zm1.76,1.66,3,3,3-3-3-3Zm-4.69,4.65,3,3L65.68,42l-3-3Zm-1.72,1.73-3,3,2.95,3,3-3Zm-1.72-1.67L53.42,39,50.5,41.93l2.92,2.93Zm1.75-7.66-3,3,2.94,2.93,2.94-3Zm9.35-3.36,3.15-3.17c-1.14-.78-2.28-1.56-3.43-2.33a.42.42,0,0,0-.39,0c-.82.79-1.63,1.6-2.41,2.38Zm4.81-1.46-3.1,3.07,3,3,2.59-2.6ZM47,51.28,42.61,46.9A13.13,13.13,0,0,0,44,54.24ZM48.79,53l-3,3a13.49,13.49,0,0,0,7.35,1.38ZM47,41.94l-3-3c-.37,1.56-.74,3.1-1.09,4.66a.56.56,0,0,0,.13.39c.29.37.6.71.85,1ZM55,56c.29.26.59.54.9.79.14.11.35.25.49.21,1.55-.34,3.09-.72,4.63-1.08l-3-3Zm7.77-29.79,1.93-1.89a12.25,12.25,0,0,0-4.55-.75ZM73.81,37.16l2.75,2.74-.78-4.65Z"
    />
  </svg>
</template>