<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M65.6,80.51a2.5,2.5,0,0,0-3.54-1.12,25.66,25.66,0,0,1-10.45,2.8,26.94,26.94,0,0,1-21.25-8.45c-.29-.3-.37-.48-.07-.87A10.38,10.38,0,0,0,20,56.31a10.38,10.38,0,0,0-8,10.88,10.22,10.22,0,0,0,13.23,9.26,1,1,0,0,1,1.17.33A32.09,32.09,0,0,0,50,87.21a31.68,31.68,0,0,0,14.39-3.44A2.45,2.45,0,0,0,65.6,80.51ZM22.21,72a5.5,5.5,0,0,1,.05-11,5.5,5.5,0,0,1-.05,11Z"
    />
    <path
      d="M51.38,12.79a10.23,10.23,0,0,0-10.32,8.74.88.88,0,0,1-.73.81,25.76,25.76,0,0,0-3.88,1.51,32.56,32.56,0,0,0-17.67,21,2.46,2.46,0,0,0,2.49,3.29c1.19-.05,1.92-.78,2.38-2.26A27.66,27.66,0,0,1,40.84,27.36c.57-.22.81-.14,1.09.43a9.87,9.87,0,0,0,9,5.88A10.28,10.28,0,0,0,61.35,23.25,10.33,10.33,0,0,0,51.38,12.79Zm-.3,15.94a5.5,5.5,0,1,1,5.31-5.42A5.41,5.41,0,0,1,51.08,28.73Z"
    />
    <path
      d="M82.72,57.39c-.21-.13-.54-.14-.43-.59a15.61,15.61,0,0,0,.18-2.89,33.9,33.9,0,0,0-5-17.59,31.71,31.71,0,0,0-5.72-7,2.48,2.48,0,0,0-4.2,1.19,2.64,2.64,0,0,0,1,2.6,28.35,28.35,0,0,1,8.92,21.42c0,1.42,0,1.41-1.46,1.67l-.22.05A10.43,10.43,0,1,0,88,67.06,10.23,10.23,0,0,0,82.72,57.39ZM77.81,72a5.5,5.5,0,1,1,5.24-5.5A5.42,5.42,0,0,1,77.81,72Z"
    />
  </svg>
</template>