<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M38.09,26.29c1.35,0,2.69,0,4,0,.25,0,.33.05.33.28,0,.89,0,.89-1,.89-2.47,0-4.93,0-7.39,0-.3,0-.43-.05-.39-.33s-.13-.61.06-.78.6-.05.92-.05Z"
    />
    <path
      d="M38.06,29.78c-1.34,0-2.69,0-4,0-.27,0-.38,0-.35-.29s-.14-.64.06-.82.63-.05.95-.05h7.39c.29,0,.39.05.39.31,0,.86,0,.86-1,.86Z"
    />
    <path
      d="M36.75,30.94h2.64c.26,0,.37,0,.37.29,0,.88,0,.88-1,.88H34c-.27,0-.39,0-.36-.29s-.13-.65.06-.82.63-.05.95-.06C35.38,30.93,36.06,30.94,36.75,30.94Z"
    />
    <path
      d="M36.72,33.27h2.72c.25,0,.31,0,.32.26,0,.9,0,.9-1,.9-1.56,0-3.11,0-4.67,0-.32,0-.39-.08-.38-.34,0-.83,0-.83.94-.83Z"
    />
    <path
      d="M68.77,34.6c0-.58-.22-.76-.91-.76H63.71c-.82,0-1,.15-1,.85,0,3.3,0,6.6,0,9.9s0,9.16,0,12.49c0,.58.21.77.89.77h4.27c.68,0,.9-.18.9-.76Z"
    />
    <path
      d="M60.5,42H56.15c-.66,0-.87.18-.87.75V57.06c0,.61.21.79.91.79h4.27c.66,0,.89-.19.89-.74V42.72C61.35,42.17,61.13,42,60.5,42Z"
    />
    <path
      d="M53.08,46H48.7c-.61,0-.84.2-.84.72,0,1.3,0,2.61,0,3.91s0,5.16,0,6.47c0,.52.23.72.83.72h4.39c.6,0,.85-.21.85-.72V46.75C53.93,46.25,53.68,46,53.08,46Z"
    />
    <path
      d="M46.51,49.68c0-.54-.24-.74-.86-.74H41.27c-.6,0-.84.2-.84.71,0,.82,0,1.63,0,2.45v5c0,.59.22.78.88.78h4.31c.65,0,.89-.2.89-.75Z"
    />
    <path
      d="M39.08,51.38c0-.48-.24-.69-.79-.69H33.82c-.58,0-.82.21-.82.7,0,1.08,0,4.68,0,5.76,0,.49.25.71.81.71h4.47c.54,0,.8-.22.8-.69Z"
    />
    <path
      d="M62.24,25.57a1.22,1.22,0,0,1,.35.56c.49,1.47,1,2.94,1.5,4.4a.61.61,0,0,1-.1.67.5.5,0,0,1-.55.14.59.59,0,0,1-.38-.44c-.35-1-.69-2-1-3,0-.09-.07-.18-.12-.33-.35.71-.69,1.38-1,2.05a30.39,30.39,0,0,1-10,11.92A29.39,29.39,0,0,1,35.71,47c-1,.07-2,.06-2.92.06-.2,0-.26-.07-.24-.26s-.07-.62.06-.8.49-.06.75-.06A28.44,28.44,0,0,0,51,40.13a29.47,29.47,0,0,0,9-11l1-2-1.31.47-1.83.65c-.46.17-.77.06-.87-.29s.07-.6.5-.75l4.23-1.53c.09,0,.19,0,.24-.12Z"
    />
    <path
      d="M23.49,42.26q0,8.41,0,16.84c0,.58,0,.87-.74.84a2.3,2.3,0,0,0-2.35,1.91,12.46,12.46,0,0,0,0,4.35c.24,1.3,1.26,2,2.77,2H38.74c.25,0,.52-.1.77.1-.07.16-.13.32-.19.48Q34.68,79.36,30.06,90c-.56,1.29-.12,2,1.27,2,1.64,0,3.28,0,4.92,0A1.6,1.6,0,0,0,38,90.85c2.53-5.88,5.1-11.75,7.66-17.62.09-.2.11-.46.41-.64V90.51c0,1.11.35,1.47,1.42,1.47h5.07C53.72,92,54,91.65,54,90.4V72.58a1.23,1.23,0,0,1,.43.69q3.84,8.81,7.66,17.62A1.57,1.57,0,0,0,63.77,92c1.64-.06,3.28,0,4.92,0,1.45,0,1.88-.66,1.29-2Q65.44,79.52,60.88,69a1.65,1.65,0,0,1-.29-.89h5.89l11,0a2.51,2.51,0,0,0,2.32-2.56c0-1,0-2,0-3a2.53,2.53,0,0,0-2.53-2.58c-.53,0-.68-.11-.68-.68q0-17.18,0-34.35c0-.5.1-.66.62-.67a2.57,2.57,0,0,0,2.59-2.83c0-.72,0-1.44,0-2.15a2.89,2.89,0,0,0-2-3.25H22.32a2.9,2.9,0,0,0-2,3.25c0,.71,0,1.43,0,2.15a2.57,2.57,0,0,0,2.59,2.83c.52,0,.63.16.62.67,0,3.68,0,7.37,0,11.05Zm2.2-6.41c0-3.61,0-7.22,0-10.83,0-.6.14-.79.75-.79q23.63,0,47.24,0c.56,0,.72.14.72.74q0,17.13,0,34.27c0,.57-.15.69-.68.69q-23.65,0-47.32,0c-.57,0-.71-.16-.71-.74,0-5.61,0-11.22,0-16.84Z"
    />
  </svg>
</template>