<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M37.09,15c1.55.27,3.11.46,4.63.83a32.9,32.9,0,0,1,12.5,5.48A14.73,14.73,0,0,1,58.92,27c-5,1.12-8.15,4.16-9.29,9.15a3.79,3.79,0,0,1-2.7-.46A78.38,78.38,0,0,1,35.81,29a3.42,3.42,0,0,0-.6-.37c.95,1.55,1.85,3.1,1.49,5s-1.78,3-3.18,3.92a22.67,22.67,0,0,1,3.32-.07,5.79,5.79,0,0,1,4.5,3.5.81.81,0,0,1,0,.68,61.06,61.06,0,0,0-3.83,9.5,2,2,0,0,1-1.62,1.61c-.78.14-1.53.43-2.31.62a.67.67,0,0,1-.55-.18c-.64-.77-1.26-1.57-1.85-2.38a1,1,0,0,1-.15-.68,2.22,2.22,0,0,0-1.94-2.47,2.19,2.19,0,0,0-2.43,1.89A2.22,2.22,0,0,0,28.47,52a1.62,1.62,0,0,1,.82.49c.45.5.84,1.07,1.33,1.69-.89.26-1.68.51-2.49.7-.16,0-.37-.11-.55-.2a2.1,2.1,0,0,0-2.43.28,2,2,0,0,0-.71,2.21,2.17,2.17,0,0,0,1.82,1.65,1.09,1.09,0,0,1,.62.32c.5.62,1,1.27,1.52,2-.92.28-1.77.55-2.64.77-.17,0-.41-.14-.62-.23a2.2,2.2,0,0,0-2.09,3.86A2.08,2.08,0,0,0,26,65.08c.45-.76,1.1-.91,2-1.13-.62.76-1.1,1.39-1.63,2a.68.68,0,0,0-.09.94c.64,1,1.22,2,1.93,3.22-1.23-.45-2.31-.82-3.37-1.25A51.8,51.8,0,0,1,16.4,64.5a.72.72,0,0,1-.37-.89c1.07-4.85,2.1-9.71,3.18-14.56a12.9,12.9,0,0,0-.27-4.47c-.26-2.13-.64-4.24-.85-6.37A18.38,18.38,0,0,1,19.34,30,35.35,35.35,0,0,1,24,20.56a13.21,13.21,0,0,1,9.58-5.45,1.82,1.82,0,0,0,.38-.11Z"
    />
    <path
      d="M28.73,66.59c3.2-3.94,6.4-7.84,9.55-11.78a5.8,5.8,0,0,0,1-1.89,43.24,43.24,0,0,1,4.15-10.16A14.73,14.73,0,0,1,44.7,41c1.79-2.12,3.89-3.32,6.72-2.05.2-1,.36-2,.59-3a9.09,9.09,0,0,1,10-6.81,18.55,18.55,0,0,1,8.43,3.52A39.37,39.37,0,0,1,81.59,44.23a13.76,13.76,0,0,1,2.31,9.1,14.9,14.9,0,0,1-1.25,4.51A32.52,32.52,0,0,1,72.6,69.75c-2.27,1.69-5,2.46-7.69,3.32l-2.34.74a12,12,0,0,0-4.29,2.31c-3.49,2.93-7.07,5.77-10.6,8.65a.64.64,0,0,1-.88.1,49.41,49.41,0,0,1-17.91-18Zm12.47,3c-.85-.15-1.63-.27-2.4-.44a1.2,1.2,0,0,1-.63-.41,2.21,2.21,0,1,0-.53,3.07,1.27,1.27,0,0,1,.81-.17c.92.13,1.84.34,2.76.48a.54.54,0,0,1,.55.55c.14.94.35,1.88.48,2.83a1.17,1.17,0,0,1-.18.74,2.21,2.21,0,0,0,3.6,2.56,2.21,2.21,0,0,0-.53-3.09c-.14-.1-.33-.23-.36-.37-.18-.86-.32-1.72-.49-2.68.84.15,1.56.24,2.26.42a1.64,1.64,0,0,1,.81.48,2.19,2.19,0,0,0,2.24.84,2.07,2.07,0,0,0,1.69-1.69,2.11,2.11,0,0,0-.89-2.27c-.14-.11-.36-.22-.39-.35-.19-.81-.33-1.64-.5-2.56.85.17,1.59.29,2.31.47a1.08,1.08,0,0,1,.56.41,2.21,2.21,0,0,0,3.68-2.45A2.25,2.25,0,0,0,53,65.31a1.27,1.27,0,0,1-.75.18c-.92-.15-1.83-.36-2.75-.52a.62.62,0,0,1-.6-.61c-.12-.79-.26-1.57-.45-2.35a1.6,1.6,0,0,1,.2-1.34,2.17,2.17,0,0,0-.72-2.89,2.22,2.22,0,0,0-2.95.51,2.1,2.1,0,0,0,.28,3c1.11.82.7,2,1.14,3.12-.88-.17-1.58-.29-2.26-.46a1.22,1.22,0,0,1-.63-.41,2.19,2.19,0,0,0-2.34-.93,2.06,2.06,0,0,0-1.66,1.63,2.14,2.14,0,0,0,.91,2.34.87.87,0,0,1,.36.45C40.92,67.8,41.05,68.63,41.2,69.56Z"
    />
    <path
      d="M30.9,60.37l-2.24-3c1.17-.34,2.27-.67,3.37-1a.54.54,0,0,1,.44.19c.26.28.48.6.73.93Z"
    />
    <path
      d="M47.56,70.67c-1.26-.22-2.4-.41-3.53-.63-.11,0-.23-.21-.25-.34-.21-1.09-.4-2.19-.62-3.42,1.23.23,2.36.44,3.48.68.12,0,.25.21.28.34C47.13,68.37,47.33,69.45,47.56,70.67Z"
    />
  </svg>
</template>