<template>
  <svg viewBox="0 0 100 100">
    <path
      d="M51.19,26.68v2.84c0,.48-.33.48-.67.46A19.4,19.4,0,0,0,40,32.63l-.14.07c-.51.25-1,.94-1.47.74s-.66-.86-1-1.33C36.71,31,36,30,35.33,28.88c-.21-.33-.41-.45-.78-.12a18,18,0,0,0-5.33,8.14c-.08.25-.19.5-.28.75a1.45,1.45,0,0,1-1.75,1,1.52,1.52,0,0,1-1.11-1.93A29,29,0,0,1,31,27.15a3.74,3.74,0,0,0,.08-4.86c-.3-.4-.22-.54.15-.79a37.2,37.2,0,0,1,5.56-3,.83.83,0,0,1,.69,0,6.13,6.13,0,0,0,7-1.82,1.57,1.57,0,0,1,1.15-.59,45.52,45.52,0,0,1,4.82-.3,36,36,0,0,1,11.12,2,1.54,1.54,0,0,1,1.15,1.91c-.24.86-.94,1.19-2,1a28.94,28.94,0,0,0-9.47.13c-.61.11-1.21.27-1.81.36a2.83,2.83,0,1,0,1.13,5.54Z"
    />
    <path
      d="M48.83,73.21c0-.92,0-1.83,0-2.74,0-.4.15-.57.57-.56a20,20,0,0,0,11.8-3.46c.43-.29.54,0,.72.25.91,1.39,1.85,2.77,2.73,4.19.3.49.51.44.88.11a18.2,18.2,0,0,0,5.4-8.45c.23-.75.58-1.34,1.46-1.38a1.46,1.46,0,0,1,1.5,2A28.58,28.58,0,0,1,69,72.79a3.64,3.64,0,0,0,0,4.8c.3.37.22.48-.12.7a34.69,34.69,0,0,1-5.53,3,1.07,1.07,0,0,1-.84,0,6,6,0,0,0-6.92,1.86c-.58.68-1.31.58-2,.66A33.77,33.77,0,0,1,38.46,82a1.49,1.49,0,0,1-1.15-1.21,1.47,1.47,0,0,1,.6-1.49A1.69,1.69,0,0,1,39.22,79a29.39,29.39,0,0,0,11.44-.47,2.84,2.84,0,1,0-1.59-5.4A1.17,1.17,0,0,1,48.83,73.21Z"
    />
    <path
      d="M70.89,39.37c-.92.46-1.78.89-2.64,1.34-.29.16-.44.14-.61-.19A19.73,19.73,0,0,0,58.72,32c-.38-.18-.35-.35-.19-.66.77-1.51,1.51-3,2.3-4.53.25-.48.21-.64-.33-.82a18.23,18.23,0,0,0-9.85-.5,4.25,4.25,0,0,1-.87.13,1.49,1.49,0,0,1-.36-2.94,27.79,27.79,0,0,1,5.89-.83,30.52,30.52,0,0,1,5.14.3,3.69,3.69,0,0,0,4-2.35c.21-.53.38-.54.83-.31a38.12,38.12,0,0,1,5,3.08,1.51,1.51,0,0,1,.69,1.1,6.06,6.06,0,0,0,4.66,4.79,2.54,2.54,0,0,1,1.67,1.08,34.42,34.42,0,0,1,6.2,14.09,2.22,2.22,0,0,1,0,1.35,1.43,1.43,0,0,1-1.39.93,1.49,1.49,0,0,1-1.45-1.07A29.47,29.47,0,0,0,74.49,35a2.79,2.79,0,0,0-4.31-.14,2.86,2.86,0,0,0,.52,4.29Z"
    />
    <path
      d="M30.42,37.1c.9.59,1.68,1.14,2.51,1.63.41.25.22.46.06.71a20.14,20.14,0,0,0-2.62,6.79,18.61,18.61,0,0,0-.31,4.65c.05.71-.08,1-.87,1-1.56,0-3.12.18-4.67.25-.5,0-.63.15-.52.68a18.3,18.3,0,0,0,4.68,9,1.48,1.48,0,0,1-.22,2.5,1.37,1.37,0,0,1-1.82-.3,27.26,27.26,0,0,1-5.78-8.82c-.84-2.07-2.14-2.93-4.38-2.67-.46.05-.48-.11-.48-.45A48.22,48.22,0,0,1,16.15,46a1.46,1.46,0,0,1,.5-1,6.06,6.06,0,0,0,1.74-7.07.92.92,0,0,1,0-.76A33.93,33.93,0,0,1,28,23.94a1.56,1.56,0,0,1,2.24-.11,1.6,1.6,0,0,1-.06,2.25,29.86,29.86,0,0,0-5.26,10.05,2.85,2.85,0,1,0,5.46,1.5Z"
    />
    <path
      d="M29.13,60.48c.91-.47,1.77-.9,2.62-1.36.51-.26.58.15.74.44a20.07,20.07,0,0,0,7.73,7.78c1.42.81,1.42.81.7,2.26-.59,1.17-1.16,2.36-1.77,3.52-.22.42-.17.59.28.75a18.2,18.2,0,0,0,8,.85c.8-.09,1.58-.29,2.38-.42a1.48,1.48,0,0,1,1.71.75,1.42,1.42,0,0,1-.22,1.72,3.11,3.11,0,0,1-2,.72,28.4,28.4,0,0,1-9.86.23A3.67,3.67,0,0,0,35.6,80c-.23.52-.43.6-.92.34a39.08,39.08,0,0,1-5.05-3.14,1.36,1.36,0,0,1-.56-.91,6.06,6.06,0,0,0-5-4.95A1.74,1.74,0,0,1,23,70.68,34.21,34.21,0,0,1,16.48,56a1.56,1.56,0,0,1,1-1.93,1.52,1.52,0,0,1,1.88,1.08,29.75,29.75,0,0,0,4.74,8.09c.49.61,1,1.19,1.55,1.75a2.74,2.74,0,0,0,4.19,0,2.86,2.86,0,0,0-.36-4.15Z"
    />
    <path
      d="M69.58,62.72a25.26,25.26,0,0,0-2.27-1.46c-.6-.31-.48-.63-.21-1A16.66,16.66,0,0,0,68.67,57,19.62,19.62,0,0,0,70,49.14c0-1.23-.19-1,1.09-1.19s2.85-.13,4.28-.17c.73,0,.82-.32.67-1a19.18,19.18,0,0,0-4.81-9,1.45,1.45,0,0,1,0-2.08,1.61,1.61,0,0,1,2.22.1,27.66,27.66,0,0,1,5.89,9.18,3.85,3.85,0,0,0,3.9,2.32c.59-.1.74.07.81.62a37.74,37.74,0,0,1-.19,6.2c0,.33-.27.46-.45.62a6,6,0,0,0-1.82,6.89,2.63,2.63,0,0,1-.39,2,34.48,34.48,0,0,1-9,12.12c-1.06.93-2.18.79-2.72-.32a1.39,1.39,0,0,1,.31-1.55,33.16,33.16,0,0,0,3.91-6.35,24.62,24.62,0,0,0,1.65-4.66,2.45,2.45,0,0,0-.91-2.37,2.62,2.62,0,0,0-2.6-.68A3,3,0,0,0,69.58,62.72Z"
    />
    <path
      d="M39.65,17.64a4.94,4.94,0,0,1-4.9-4.92,5,5,0,0,1,4.9-4.94,5,5,0,0,1,4.94,5A4.9,4.9,0,0,1,39.65,17.64Z"
    />
    <path d="M81.94,22.38A4.86,4.86,0,0,1,77,27.29a4.92,4.92,0,1,1,4.9-4.91Z" />
    <path
      d="M7.74,40.21a4.86,4.86,0,0,1,4.95-4.85,5,5,0,0,1,4.89,5,5,5,0,0,1-4.91,4.89A5,5,0,0,1,7.74,40.21Z"
    />
    <path d="M22.9,82.38A4.92,4.92,0,0,1,23,72.54a4.92,4.92,0,1,1-.13,9.84Z" />
    <path d="M60.45,92.22a4.92,4.92,0,0,1,.14-9.84,4.92,4.92,0,1,1-.14,9.84Z" />
    <path
      d="M92.26,59.62a4.88,4.88,0,0,1-5,4.86,4.93,4.93,0,0,1,.09-9.85A4.92,4.92,0,0,1,92.26,59.62Z"
    />
  </svg>
</template>