<template src="./burger.html"></template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Burger",
  data() {
    return {
      NavOpen: false,
    };
  },
  computed: {
    ...mapGetters("mainStore", {
      getNavOpenState: "getNavOpenStateInStore",
    }),

    isOpen() {
      return this.NavOpen === true ? "is-opened" : "is-closed";
      // Uncomment this to use the store
      //return this.getNavOpenState === true ? "is-opened" : "is-closed";
    },
  },
  methods: {
    ...mapActions("mainStore", {
      toggleNavOpen: "toggleNavOpenInStore",
    }),

    burgerClicked() {
      this.NavOpen === true ? (this.NavOpen = false) : (this.NavOpen = true);
      // Uncomment this to use the store
      //this.toggleNavOpen();
      this.$emit("burgerClicked");
    },
  },
};
</script>

<style lang="scss" src="./burger.scss"></style>