$svg-size: 50px !default;
$svg-path-color: $c-primary-dark !default;
$svg-circle-color: $c-primary-dark !default;
$svg-circle-path-color: $c-primary-light !default;

.list-svg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  svg {
    width: $svg-size;
    height: $svg-size;
    path,
    ellipse {
      fill: $svg-path-color;
    }
    &.svg-with-circle {
      path,
      ellipse {
        fill: $svg-circle-path-color;
      }
      circle {
        path {
          fill: $svg-circle-color;
        }
      }
    }
  }
}
