<div class="page page-svg">
  <div class="navigation">
    <div class="page-title">
      <h1>SVG</h1>
    </div>
    <router-link to="/PageHome">Page Home</router-link>
  </div>
  <div class="content">
    <div class="group-svg">
      <h2>SVG Commons</h2>
      <div class="list-svg">
        <SvgAddress />
        <SvgEmail />
        <SvgEmail2 />
        <SvgPhone />
        <SvgPhone2 />
        <SvgFacebook />
        <SvgInstagram />
        <SvgLinkedin />
        <SvgCircleFacebook />
        <SvgCircleInstagram />
        <SvgCircleLinkedin />
        <SvgNext />
        <SvgClose />
        <SvgHeart />
        <SvgHome />
        <SvgPlus />
        <SvgScheduler />
      </div>
    </div>

    <div class="group-svg">
      <h2>SVG Flags</h2>
      <div class="list-svg">
        <SvgFlagFr />
        <SvgFlagEn />
        <SvgFlagEs />
      </div>
    </div>

    <div class="group-svg">
      <h2>SVG Go2Sport</h2>
      <div class="list-svg">
        <SvgBienEtre />
        <SvgCombat />
        <SvgConvivialite />
        <SvgDeplacement />
        <SvgEntreprise />
        <SvgFinancier />
        <SvgFitness />
        <SvgMateriel />
        <SvgOneHour />
        <SvgOutdoor />
        <SvgPartage />
        <SvgProductivite />
        <SvgRaquettes />
        <SvgRentabilite />
        <SvgSolidarite />
        <SvgSportCo />
        <SvgTolerance />
        <SvgWater />
      </div>
    </div>
    <div class="group-svg">
      <h2>SVG TiChat29</h2>
      <div class="list-svg">
        <SvgBuilding />
        <SvgCatHelp />
        <SvgCatPaw />
        <SvgCatPawWithCircle />
        <SvgCat />
        <SvgChild />
        <SvgDonate />
        <SvgHands />
      </div>
    </div>
  </div>
</div>