<template src="./page-svg.html"></template>

<script>
import SvgAddress from "@/components/svg/common/svg-address.vue";
import SvgCircleFacebook from "@/components/svg/common/svg-circle-facebook.vue";
import SvgCircleInstagram from "@/components/svg/common/svg-circle-instagram.vue";
import SvgCircleLinkedin from "@/components/svg/common/svg-circle-linkedin.vue";
import SvgCircle from "@/components/svg/common/svg-circle.vue";
import SvgClose from "@/components/svg/common/svg-close.vue";
import SvgEmail from "@/components/svg/common/svg-email.vue";
import SvgEmail2 from "@/components/svg/common/svg-email-2.vue";
import SvgFacebook from "@/components/svg/common/svg-facebook.vue";
import SvgHeart from "@/components/svg/common/svg-heart.vue";
import SvgHome from "@/components/svg/common/svg-home.vue";
import SvgInstagram from "@/components/svg/common/svg-instagram.vue";
import SvgLinkedin from "@/components/svg/common/svg-linkedin.vue";
import SvgNext from "@/components/svg/common/svg-next.vue";
import SvgPlus from "@/components/svg/common/svg-plus.vue";
import SvgPhone from "@/components/svg/common/svg-phone.vue";
import SvgPhone2 from "@/components/svg/common/svg-phone-2.vue";
import SvgScheduler from "@/components/svg/common/svg-scheduler.vue";

import SvgFlagFr from "@/components/svg/flags/svg-fr.vue";
import SvgFlagEn from "@/components/svg/flags/svg-en.vue";
import SvgFlagEs from "@/components/svg/flags/svg-es.vue";

import SvgBienEtre from "@/components/svg/go2sport/svg-bien-etre.vue";
import SvgCombat from "@/components/svg/go2sport/svg-combat.vue";
import SvgConvivialite from "@/components/svg/go2sport/svg-convivialite.vue";
import SvgDeplacement from "@/components/svg/go2sport/svg-deplacement.vue";
import SvgEntreprise from "@/components/svg/go2sport/svg-entreprise.vue";
import SvgFinancier from "@/components/svg/go2sport/svg-financier.vue";
import SvgFitness from "@/components/svg/go2sport/svg-fitness.vue";
import SvgMateriel from "@/components/svg/go2sport/svg-materiel.vue";
import SvgOneHour from "@/components/svg/go2sport/svg-one-hour.vue";
import SvgOutdoor from "@/components/svg/go2sport/svg-outdoor.vue";
import SvgPartage from "@/components/svg/go2sport/svg-partage.vue";
import SvgProductivite from "@/components/svg/go2sport/svg-productivite.vue";
import SvgRaquettes from "@/components/svg/go2sport/svg-raquettes.vue";
import SvgRentabilite from "@/components/svg/go2sport/svg-rentabilite.vue";
import SvgSolidarite from "@/components/svg/go2sport/svg-solidarite.vue";
import SvgSportCo from "@/components/svg/go2sport/svg-sport-co.vue";
import SvgTolerance from "@/components/svg/go2sport/svg-tolerance.vue";
import SvgWater from "@/components/svg/go2sport/svg-water.vue";

import SvgBuilding from "@/components/svg/tichat29/svg-building.vue";
import SvgCatHelp from "@/components/svg/tichat29/svg-cat-help.vue";
import SvgCatPaw from "@/components/svg/tichat29/svg-cat-paw.vue";
import SvgCatPawWithCircle from "@/components/svg/tichat29/svg-cat-paw-with-circle.vue";
import SvgCat from "@/components/svg/tichat29/svg-cat.vue";
import SvgChild from "@/components/svg/tichat29/svg-child.vue";
import SvgDonate from "@/components/svg/tichat29/svg-donate.vue";
import SvgHands from "@/components/svg/tichat29/svg-hands.vue";

export default {
  components: {
    SvgAddress,
    SvgPhone,
    SvgPhone2,
    SvgEmail,
    SvgEmail2,
    SvgFacebook,
    SvgInstagram,
    SvgLinkedin,
    SvgCircleFacebook,
    SvgCircleInstagram,
    SvgCircleLinkedin,
    SvgNext,
    SvgCircle,
    SvgClose,
    SvgHeart,
    SvgHome,
    SvgPlus,
    SvgScheduler,

    SvgFlagFr,
    SvgFlagEn,
    SvgFlagEs,

    SvgBienEtre,
    SvgCombat,
    SvgConvivialite,
    SvgDeplacement,
    SvgEntreprise,
    SvgFinancier,
    SvgFitness,
    SvgMateriel,
    SvgOneHour,
    SvgOutdoor,
    SvgPartage,
    SvgProductivite,
    SvgRaquettes,
    SvgRentabilite,
    SvgSolidarite,
    SvgSportCo,
    SvgTolerance,
    SvgWater,

    SvgBuilding,
    SvgCatHelp,
    SvgCatPaw,
    SvgCatPawWithCircle,
    SvgCat,
    SvgChild,
    SvgDonate,
    SvgHands,
  },
};
</script>

<style lang="scss" src="./page-svg.scss"></style>
