<template>
  <svg viewBox="0 0 239.77 239.77">
    <path
      class="cls-1"
      d="M77.84,104.6c0,.54,0,1.09,0,1.64,0,1.83,0,3.68,0,5.49v30.81c-.45.81,0,0-.56,1C70,153.42,60.68,159.2,52,166.47c-2.18,1.83-2,1.56-6.64,6,0,0,.1-7.81.19-10.34a115.54,115.54,0,0,0-1.06-18.64c-.45-3.8-1.25-5.47-5.55-5.47-21.72,0-35.47-13.89-35.52-35.53q0-18.75,0-37.49c.05-18.47,16.55-35.24,35-35.31q43.48-.18,87,0c18.66.1,34.87,15.5,35.77,34.16.18,3.66,1.18,5.12,3.66,5.53H149.81a8.55,8.55,0,0,1-1.68.11c-3.21-.06-6.43-.1-9.64-.11H125.78l-11.14,0A37.09,37.09,0,0,0,77.84,104.6Z"
    />
    <path
      class="cls-1"
      d="M227.27,141.68q-.17,15.28-12.86,24c-5.08,3.48-10.75,3-16.39,3-10.11,0-10.62.47-11.63,10.41-.23,2.31-.57,4.63-.69,7s0,4.57,0,7.88c-8.1-6.69-15.07-12.87-19.06-21.61-1.52-3.34-4.29-3.77-7.44-3.77-14.5,0-29-.58-43.49.19C102.41,169.49,87,156.62,87,140.1c0-11.33.15-22.65.16-34,0-15.3,11.6-27.51,26.89-27.64q42.5-.33,85,0c16.28.12,28.16,12.44,28.23,28.71C227.33,118.68,227.39,130.18,227.27,141.68Z"
    />
    <path
      class="cls-1"
      d="M148.13,69.5c-3.21-.06-6.43-.1-9.64-.11h11.32A8.55,8.55,0,0,1,148.13,69.5Z"
    />
    <path
      class="cls-1"
      d="M227.27,141.68q-.17,15.28-12.86,24c-5.08,3.48-10.75,3-16.39,3-10.11,0-10.62.47-11.63,10.41-.23,2.31-.57,4.63-.69,7s0,4.57,0,7.88c-8.1-6.69-15.07-12.87-19.06-21.61-1.52-3.34-4.29-3.77-7.44-3.77-14.5,0-29-.58-43.49.19C102.41,169.49,87,156.62,87,140.1c0-11.33.15-22.65.16-34,0-15.3,11.6-27.51,26.89-27.64q42.5-.33,85,0c16.28.12,28.16,12.44,28.23,28.71C227.33,118.68,227.39,130.18,227.27,141.68Z"
    />
    <path
      class="cls-1"
      d="M77.84,104.6v7.13c0-1.81,0-3.66,0-5.49C77.8,105.69,77.82,105.14,77.84,104.6Z"
    />
  </svg>
</template>