<template>
  <svg viewBox="0 0 283.46 283.46">
    <path
      class="cls-1"
      d="M230.37,120.07a2.19,2.19,0,0,1,3.49,1.57v67.93c0,8.8-7.74,15.94-17.28,15.94H66.88c-9.54,0-17.27-7.14-17.27-15.94v-67.9a2.17,2.17,0,0,1,3.49-1.56c8.06,5.78,18.75,13.12,55.45,37.73,7.6,5.12,20.41,15.88,33.18,15.82,12.85.09,25.91-10.9,33.22-15.82C211.65,133.23,222.31,125.85,230.37,120.07ZM141.73,163c8.35.13,20.37-9.7,26.42-13.75,47.75-32,51.39-34.78,62.4-42.75a7.77,7.77,0,0,0,3.31-6.28V93.9c0-8.81-7.74-16-17.28-16H66.88c-9.54,0-17.27,7.14-17.27,16v6.31a7.79,7.79,0,0,0,3.31,6.28c11,7.94,14.64,10.76,62.4,42.75,6,4,18.06,13.88,26.41,13.75Z"
    />
  </svg>
</template>