<template>
  <svg class="svg svg-phone" viewBox="0 0 200 200">
    <path
      d="M154.2,73.5H45.8c-1.7,0-3.1-1.4-3.1-3.1v-9.3c0-6.8,5.5-12.2,12.2-12.2h12.2V35.6c0-1.7,1.4-3.1,3.1-3.1h10.3
	c1.7,0,3.1,1.4,3.1,3.1v13.3h32.7V35.6c0-1.7,1.4-3.1,3.1-3.1h10.3c1.7,0,3.1,1.4,3.1,3.1v13.3H145c6.8,0,12.2,5.5,12.2,12.2v9.2
	C157.2,72.1,155.9,73.5,154.2,73.5z M45.8,81.6h108.3c1.7,0,3.1,1.4,3.1,3.1v66.4c0,6.8-5.5,12.2-12.2,12.2H55
	c-6.8,0-12.2-5.5-12.2-12.2V84.7C42.8,83.1,44.1,81.6,45.8,81.6z M131,106.2l-7.2-7.3c-1.2-1.2-3.2-1.2-4.3,0l-27.1,26.9l-11.8-11.9
	c-1.2-1.2-3.2-1.2-4.3,0l-7.3,7.2c-1.2,1.2-1.2,3.2,0,4.3l21.2,21.2c1.2,1.2,3.2,1.2,4.3,0l36.5-36.2
	C132.1,109.3,132.2,107.4,131,106.2L131,106.2z"
    />
  </svg>
</template>
