<template>
  <svg class="svg-with-circle" viewBox="0 0 284 284">
    <circle cx="142" cy="142" r="140" />
    <path
      class="cls-1"
      d="M155.05,183.77c0,12.88-.08,25.76,0,38.64,0,3.24-1,4.42-4.23,4.36-8.73-.18-17.46-.06-26.2-.06-5,0-5,0-5-5q0-37.87,0-75.76c0-5,0-4.87-5-4.44-3.17.28-6.39.11-9.58.08-1.78,0-2.5-.82-2.47-2.8.12-8,.11-16,0-24,0-2.2,1-2.88,2.88-2.86,3.56,0,7.15-.16,10.68.22,3,.33,4.14-1,3.9-3.67-.64-7.18-.16-14.31.24-21.47.88-15.48,12.37-30.36,31.53-30,8.48.16,17-.08,25.46-.32,2.7-.08,3.68.71,3.61,3.57q-.25,11.06,0,22.12c.06,2.71-.88,3.29-3.41,3.32-5.24.07-10.5-.63-15.73.57-4,.91-6.05,3.33-6.81,7.28-1,5.21-.46,10.46-.64,15.69-.08,2.28,1.16,2.66,3,2.65,6.52-.05,13,.11,19.56-.09,2.56-.08,3.61.51,3.33,3.24-.82,8.15-1.53,16.31-2.29,24.46-.21,2.24-1.79,2.35-3.49,2.34-5.54,0-11.08.11-16.61-.07-2.35-.07-3.15.74-2.78,3a2.28,2.28,0,0,1,0,.37Z"
    />
  </svg>
</template>
