<template>
  <svg class="svg-with-circle" viewBox="0 0 284 284">
    <circle cx="142" cy="142" r="140" />
    <path
      class="cls-1"
      d="M150,129.83c8.53-12.22,20.48-14.23,33.25-14.08a52,52,0,0,1,12.69,1.66c12,3.19,18.83,11.25,21.65,23.08a90.11,90.11,0,0,1,2,20.77c0,18.79,0,37.57.11,56.35,0,1.68-.57,2-2.09,2-9-.05-18-.08-27.06,0-2.17,0-2.09-1.14-2.08-2.64q0-24.4,0-48.82A54,54,0,0,0,187,154.39c-2.28-8.57-7.43-12.77-15.86-12.92-9.87-.17-15.73,3.84-18.28,12.59a47.71,47.71,0,0,0-1.6,13.51c0,16.37-.07,32.74.07,49.1,0,2.56-.76,3.05-3.13,3-8.27-.14-16.55-.09-24.83,0-1.76,0-2.4-.41-2.4-2.32q.09-49.65,0-99.31c0-1.81.49-2.41,2.34-2.39q12.13.14,24.27,0c2.07,0,2.49.78,2.43,2.62C149.92,121.85,150,125.45,150,129.83Z"
    />
    <path
      class="cls-1"
      d="M100.29,167.84c0,16.27-.06,32.53.06,48.8,0,2.53-.73,3.07-3.13,3q-15.34-.19-30.68,0c-2.29,0-2.76-.72-2.76-2.85q.09-49.21,0-98.42c0-2.28.72-2.79,2.85-2.77,10.32.09,20.64.11,31,0,2.3,0,2.76.76,2.75,2.87C100.25,134.94,100.29,151.39,100.29,167.84Z"
    />
    <path
      class="cls-1"
      d="M82.14,63.78a18.22,18.22,0,1,1-18.3,18.28A18.32,18.32,0,0,1,82.14,63.78Z"
    />
  </svg>
</template>