<template>
  <svg viewBox="0 0 283.46 283.46">
    <path
      d="M55.82,97.43c.68-3,1.21-6.12,2.08-9.11a17.24,17.24,0,0,1,4.4-7.45c.49.46.9.84,1.29,1.23q19.09,19.1,38.21,38.17a2.54,2.54,0,0,1,.78,2.89c-1.84,6.76-.68,13,4,18.31a374.88,374.88,0,0,0,35.28,35.35c5.39,4.71,11.62,5.86,18.46,4,.89-.24,1.56-.44,2.38.38q19.63,19.76,39.34,39.42c.12.12.21.26.42.51A18.32,18.32,0,0,1,195,225.6a43.54,43.54,0,0,1-18,1.84c-16.14-1.28-30.4-7.6-43.65-16.49a221.44,221.44,0,0,1-61-61.28c-7-10.42-12.41-21.57-14.9-34-.56-2.79-.86-5.62-1.29-8.43-.07-.5-.21-1-.31-1.46Z"
    />
    <path
      d="M91.38,55.82a50.71,50.71,0,0,1,4.51,3.59q14,13.94,28,28c3.86,3.87,3.93,7,0,10.77-4.82,4.66-9.73,9.21-14.45,13.66L70.19,72.57c.75-.66,1.74-1.47,2.65-2.37,3.73-3.69,7.38-7.47,11.16-11.11a42.72,42.72,0,0,1,4.36-3.27Z"
    />
    <path
      d="M210.51,213.11l-39.09-39c3.61-3.89,7.28-7.85,11-11.8q1.72-1.83,3.56-3.55c2.91-2.76,6.41-2.8,9.24,0q15.2,15.13,30.32,30.36c2.67,2.67,2.88,6,.33,8.66C220.81,203,215.6,208,210.51,213.11Z"
    />
  </svg>
</template>