<template>
  <svg class="svg svg-phone" viewBox="0 0 200 200">
    <path
      d="M98,71.8l-48.1,39.6v42.8c0,2.3,1.8,4.1,4.1,4.1l29.2-0.1c2.3,0,4.1-1.8,4.1-4.1v-25c0-2.3,1.8-4.1,4.1-4.1
	h16.7c2.3,0,4.1,1.8,4.1,4.1v25c0,2.3,1.8,4.2,4.1,4.2l0,0l29.2,0.1c2.3,0,4.1-1.8,4.1-4.1v-42.9l-48.1-39.6
	C100.8,70.9,99.2,70.9,98,71.8L98,71.8z M174,98.8l-21.8-18V44.6c0-1.8-1.4-3.2-3.2-3.2h-14.6c-1.8,0-3.2,1.4-3.2,3.2v18.9
	l-23.3-19.2c-4.7-3.8-11.3-3.8-15.9,0L26,98.8c-1.3,1.1-1.5,3.1-0.4,4.4l0,0l6.7,8.1c1.1,1.3,3.1,1.5,4.4,0.4l0,0l61.4-50.6
	c1.1-1,2.8-1,4,0l61.4,50.6c1.3,1.1,3.3,0.9,4.4-0.4l0,0l6.7-8.1C175.6,101.9,175.4,99.9,174,98.8C174,98.8,174,98.8,174,98.8
	L174,98.8z"
    />
  </svg>
</template>
