<template>
  <svg viewBox="0 0 283.46 283.46">
    <path
      class="cls-1"
      d="M148.49,43.69c3.82.91,7.69,1.68,11.46,2.76C182.73,53,196.82,68.36,205.24,90c6.68,17.18,5.16,33.75-3.51,49.36-9,16.25-19.4,31.75-29,47.68-7.71,12.77-15.15,25.7-22.71,38.56-2.68,4.58-5.34,9.16-8.25,14.15-1-1.37-1.65-2.24-2.22-3.18-17.67-29-35.41-57.88-52.92-86.94-5.4-9-10.21-18.34-11.7-28.87C71.3,95.25,79.16,74,99.33,57.66a62.76,62.76,0,0,1,32.1-13.29,7.05,7.05,0,0,0,1.74-.68Zm-30.73,66c-1.69,13.84,11,25,23.23,24.77,15-.29,26.68-12.17,25.57-27.14-1-13.06-12.79-23.51-25.86-22.81C128.52,85.12,116.7,92.67,117.76,109.64Z"
    />
  </svg>
</template>