<template>
  <svg viewBox="0 0 283.46 283.46">
    <path
      class="cls-1"
      d="M219.67,125.6c0-8.55.09-17.14-1.47-25.58-3-16.48-12.19-27.84-28.37-33.15-7.61-2.5-15.52-2.72-23.41-2.85-17.22-.29-34.45-.38-51.68.08-6,.17-12.07.45-18,1.91-12,3-21.21,9.69-27,20.7-3.9,7.39-5.23,15.47-5.45,23.73-.59,22.25-.91,44.5.3,66.73.48,8.91,2.88,17.33,8.25,24.66,8.32,11.35,20,16.16,33.65,17.16,12.31.9,24.63.63,37,.67,4.79,0,9.58.07,14.36,0,8.61-.14,17.26.08,25.76-1.49,16.57-3.06,27.93-12.33,33.19-28.57,2.49-7.67,2.67-15.65,2.78-23.6Q219.78,145.79,219.67,125.6Zm-14.77,51c-.67,8.47-3.27,16.14-10.15,21.78-4.51,3.69-9.8,5.39-15.44,6.2a136.82,136.82,0,0,1-18.44.93c-12.74.1-25.49.13-38.23,0-6.8-.07-13.63,0-20.38-1.24C89.15,201.92,80.52,192.66,79,179.37a173,173,0,0,1-.91-18.62c-.11-12.75-.13-25.49,0-38.23.07-6.81,0-13.64,1.26-20.38,2.5-13.28,11.48-21.58,24.93-23.21A165.59,165.59,0,0,1,122.88,78q18.84-.17,37.69,0c6.92.08,13.88,0,20.74,1.26,13.28,2.44,21.64,11.41,23.3,24.85a177.59,177.59,0,0,1,.91,18.44c.12,6.4,0,12.8,0,19.2C205.5,153.37,205.82,165,204.9,176.57Z"
    />
    <path
      class="cls-1"
      d="M183.26,109.54a9.37,9.37,0,0,1,.2-18.74,9.37,9.37,0,1,1-.2,18.74Z"
    />
    <path
      class="cls-1"
      d="M142,101.7a40,40,0,1,0,39.79,40.13A40.06,40.06,0,0,0,142,101.7Zm.19,65.94c-14.62,0-26.33-11.38-26.33-25.58a25.89,25.89,0,1,1,51.78-.53C167.7,155.86,156.22,167.64,142.23,167.64Z"
    />
  </svg>
</template>