<template>
  <svg viewBox="0 0 283.46 283.46">
    <path
      class="cls-1"
      d="M231.81,195.57l-35.65-30.23-24.78-21.06-1.78-1.54L231.81,88.6Z"
    />
    <path
      class="cls-1"
      d="M51.66,89a4.39,4.39,0,0,1,.88.48L113,142c.22.19.46.35,1.14.86a12.9,12.9,0,0,0-1.54,1Q82.28,169.59,52,195.38a1.81,1.81,0,0,1-.29.19Z"
    />
    <path
      class="cls-1"
      d="M227.73,80.93l-86,73.7L55.8,81a12.29,12.29,0,0,1,8-3.58c.64-.06,1.28,0,1.93,0q76,0,151.94,0A13.84,13.84,0,0,1,227.73,80.93Z"
    />
    <path
      class="cls-1"
      d="M55.74,202.53l63.7-54.6,22.29,19.5L164,147.93l63.63,54.56a12.25,12.25,0,0,1-7.84,3.55,21,21,0,0,1-2.1.06h-152A13.89,13.89,0,0,1,55.74,202.53Z"
    />
  </svg>
</template>