<template>
  <svg class="svg svg-heart" viewBox="0 0 200 200">
    <path
      d="M154.6,53.8c-14.5-12.3-36-10.1-49.3,3.6l-5.2,5.4l-5.2-5.4c-13.3-13.8-34.9-16-49.3-3.6
	C28.9,68,28,93.5,42.8,108.8L94,161.7c3.3,3.4,8.7,3.4,12,0l51.2-52.9C172,93.5,171.1,68,154.6,53.8L154.6,53.8z"
    />
  </svg>
</template>
