<template>
  <svg viewBox="0 0 283.46 283.46">
    <path
      class="cls-1"
      d="M198.83,247.11A140,140,0,0,1,64.7,101.49a7.24,7.24,0,0,1,5.89-6.82l31.65-5.94a7.24,7.24,0,0,1,8.11,4.54l13.08,34.35A7.24,7.24,0,0,1,121,136l-18.88,14.2a111.86,111.86,0,0,0,51.24,55.62l15.7-17.66a7.24,7.24,0,0,1,8.53-1.72l33.17,15.86a7.23,7.23,0,0,1,3.86,8.44l-8.52,31.06A7.25,7.25,0,0,1,198.83,247.11Zm-71-170.26A27,27,0,0,1,146.36,97a5.08,5.08,0,0,1-5.06,6.15l-3.49-.07A5.09,5.09,0,0,1,133,99.26,13.49,13.49,0,0,0,124.45,90,5.09,5.09,0,0,1,121,84.87l.22-3.48A5.07,5.07,0,0,1,127.79,76.85Zm2.42-54.46a81,81,0,0,1,70.62,76.67,5.07,5.07,0,0,1-5.17,5.3l-3.39-.07a5.06,5.06,0,0,1-5-4.81,67.5,67.5,0,0,0-58.63-63.65,5.06,5.06,0,0,1-4.39-5.34l.21-3.38a5.08,5.08,0,0,1,5.71-4.72Zm-1.42,27.05a54,54,0,0,1,45,48.82,5.08,5.08,0,0,1-5.16,5.5l-3.4-.07a5.05,5.05,0,0,1-4.95-4.57,40.48,40.48,0,0,0-33.43-36.29,5.06,5.06,0,0,1-4.15-5.31l.21-3.39a5.09,5.09,0,0,1,5.91-4.69Z"
    />
  </svg>
</template>