.page-transi-router {
  .content {
    overflow-x: hidden;
    .nav-anim-router {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      .nav-link {
        margin: 10px;
      }
    }
    .sub-page {
      padding: 20px;
    }
  }
}
