<template >
  <div class="transi">
    <h1>Transitions Zoom</h1>
    <div class="nav-anim-router">
      <router-link class="nav-link" :to="{ name: 'PageAZoom' }"
        >PageA</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageBZoom' }"
        >PageB</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageCZoom' }"
        >PageC</router-link
      >
    </div>
    <div>
      <transition name="zoom" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
    <footer class="App__footer">&copy; Fancy Company</footer>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss">
$animation-duration: 0.3s !default;
/*****************************
** Routeur Zoom
*****************************/
.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}
</style>
