<template >
  <div class="page page-transi-router">
    <div class="navigation">
      <div class="page-title">
        <h1>Transitions router</h1>
      </div>
      <div>
        <router-link :to="{ name: 'PageHome' }">Home</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'TransiFade' }">Page Fade</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'TransiFadeHeight' }"
          >Page Fade Height</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'TransiFadeSlide' }"
          >Page Fade Slide</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'TransiFadeSlideHeight' }"
          >Page Fade Slide Height</router-link
        >
      </div>
      <div>
        <router-link :to="{ name: 'TransiZoom' }">Page Zoom</router-link>
      </div>
      <div>
        <router-link :to="{ name: 'TransiZoomHeight' }"
          >Page Zoom Height</router-link
        >
      </div>
    </div>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss" src="./page-transitions-router.scss" ></style>
