<template >
  <div class="transi">
    <h1>Transitions Fade Slide</h1>
    <div class="nav-anim-router">
      <router-link class="nav-link" :to="{ name: 'PageAFadeSlide' }"
        >PageA</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageBFadeSlide' }"
        >PageB</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageCFadeSlide' }"
        >PageC</router-link
      >
    </div>
    <div>
      <transition name="fade-slide" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
    <footer class="App__footer">&copy; Fancy Company</footer>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss">
$animation-duration: 0.3s !default;
/*****************************
** Routeur Fade Slide
*****************************/
.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity $animation-duration ease,
    transform $animation-duration ease;
}

.fade-slide-enter,
.fade-slide-leave-active {
  opacity: 0;
  transform: translateX(-100px);
}
</style>
