<template >
  <div class="transi">
    <h1>Transitions Fade Height</h1>
    <div class="nav-anim-router">
      <router-link class="nav-link" :to="{ name: 'PageAFadeHeight' }"
        >PageA</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageBFadeHeight' }"
        >PageB</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageCFadeHeight' }"
        >PageC</router-link
      >
    </div>
    <div>
      <transition
        name="fade-height"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view></router-view>
      </transition>
    </div>
    <footer class="App__footer">&copy; Fancy Company</footer>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      prevHeight: 0,
    };
  },
  methods: {
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    },
  },
};
</script>

<style lang="scss">
$animation-duration: 0.3s !default;
/*****************************
** Routeur Fade Height
*****************************/
.fade-height-enter-active,
.fade-height-leave-active {
  transition-duration: $animation-duration;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-height-enter,
.fade-height-leave-active {
  opacity: 0;
}
</style>
