<template >
  <div class="transi">
    <h1>Transitions Zoom Height</h1>
    <div class="nav-anim-router">
      <router-link class="nav-link" :to="{ name: 'PageAZoomHeight' }"
        >PageA</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageBZoomHeight' }"
        >PageB</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageCZoomHeight' }"
        >PageC</router-link
      >
    </div>
    <div>
      <transition
        name="zoom-height"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view></router-view>
      </transition>
    </div>
    <footer class="App__footer">&copy; Fancy Company</footer>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      prevHeight: 0,
    };
  },
  methods: {
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    },
  },
};
</script>

<style lang="scss">
$animation-duration: 0.5s !default;
/*****************************
** Routeur Zoom
*****************************/
.zoom-height-enter-active,
.zoom-height-leave-active {
  transition-duration: $animation-duration;
  transition-property: height, opacity;
  transition-timing-function: ease;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-height-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}
</style>
