<template >
  <div class="transi">
    <h1>Transitions Fade</h1>
    <div class="nav-anim-router">
      <router-link class="nav-link" :to="{ name: 'PageAFade' }"
        >PageA</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageBFade' }"
        >PageB</router-link
      >
      <router-link class="nav-link" :to="{ name: 'PageCFade' }"
        >PageC</router-link
      >
    </div>
    <div>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
    <footer class="App__footer">&copy; Fancy Company</footer>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss">
$animation-duration: 0.3s !default;
/*****************************
** Routeur Fade
*****************************/
.fade-enter-active,
.fade-leave-active {
  transition-duration: $animation-duration;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
