<template >
  <div class="splitting-horizontal">
    <div class="icon first"><SvgFacebook /></div>
    <div class="icon"><SvgInstagram /></div>
    <div class="icon last"><SvgLinkedin /></div>
    <div class="label">Follow</div>
    <div></div>
  </div>
</template>

<script>
import SvgFacebook from "@/components/svg/common/svg-facebook.vue";
import SvgInstagram from "@/components/svg/common/svg-instagram.vue";
import SvgLinkedin from "@/components/svg/common/svg-linkedin.vue";

export default {
  components: {
    SvgFacebook,
    SvgInstagram,
    SvgLinkedin,
  },
};
</script>

<style lang="scss">
$split-h-bkg-color: #6225E6 !default;
$split-h-bkg-color-text: #EEE !default;
$split-h-bkg-color-secondary: #FBC638 !default;
$split-h-bkg-color-secondary-text: #2d2d2d !default;
$split-h-size: 3rem !default;
$split-h-icon-margin-lr: 2px !default;
$split-h-transi-time: 0.5s !default;

.splitting-horizontal {
  display: inline-block;
  cursor: default;
  padding: 0;
  position: relative;
  text-align: center;

  &:hover .label {
    opacity: 0;
    transition: opacity $split-h-transi-time 0.125s ease-out;
  }
  &:hover .icon {
    border-radius: 50%;
    margin: 0 $split-h-icon-margin-lr;
  }

  .icon,
  .label {
    background-color: $split-h-bkg-color;
    line-height: $split-h-size;
  }
  .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    color: $split-h-bkg-color-text;
    text-transform: uppercase;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.0816em;

    opacity: 1;
    pointer-events: none;
    transition: opacity $split-h-transi-time 0.75s ease-out;
  }

  .icon {
    display: inline-block;
    height: $split-h-size;
    width: $split-h-size;
    margin: 0 0;
    border-radius: 0;
    cursor: pointer;
    transition: background-color $split-h-transi-time ease-out,
      border-radius $split-h-transi-time 0.25s ease-out,
      margin $split-h-transi-time 0.25s ease-out;
    svg path {
      fill: $split-h-bkg-color-text;
    }
    &.first {
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      margin-left: 0;
    }

    &.last {
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      margin-right: 0;
    }

    &:hover {
      background-color: $split-h-bkg-color-secondary;
      svg path {
        fill: $split-h-bkg-color-secondary-text;
      }
    }
  }
}
</style>
