<template >
  <div class="splitting-vertical-2">
    <div class="ctn-icons">
      <div class="icon first"><SvgFr /></div>
      <div class="icon"><SvgEn /></div>
      <div class="icon last"><SvgEs /></div>
    </div>
    <div class="label"><SvgLang /></div>
  </div>
</template>

<script>
import SvgLang from "@/components/svg/common/svg-languages.vue";
import SvgFr from "@/components/svg/flags/svg-fr.vue";
import SvgEn from "@/components/svg/flags/svg-en.vue";
import SvgEs from "@/components/svg/flags/svg-es.vue";

export default {
  components: {
    SvgLang,
    SvgFr,
    SvgEn,
    SvgEs,
  },
};
</script>

<style lang="scss">
$split-v-bkg-color: #6225E6;
$split-v-bkg-color-text: #EEE;
$split-v-bkg-color-secondary: #FBC638;
$split-v-bkg-color-secondary-text: #2d2d2d;
$split-v-size: 3rem !default;
$split-v-transi-time: 0.5s !default;

.splitting-vertical-2 {
  width: 50px;
  background-color: $split-v-bkg-color;
  top: -100px;
  left: 1.8%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1;
  &:hover {
    transform: translateY(165px);
    transition: all 0.3s ease;
  }
}

// .splitting-vertical {
//   display: inline-block;
//   cursor: pointer;
//   padding: 0;
//   position: relative;
//   text-align: center;
//   transition: opacity $split-v-transi-time 0.125s ease-out;

//   &:hover .icon {
//     opacity: 1;
//   }

//   .icon,
//   .label {
//     background-color: $split-v-bkg-color;
//     line-height: $split-v-size;
//   }
//   .label {
//     padding: 5px 10px;
//     top: 0;
//     left: 0;
//     right: 0;

//     color: $split-v-bkg-color-text;
//     text-transform: uppercase;
//     border-radius: 1rem;
//     font-size: 1em;
//     font-weight: 900;
//     letter-spacing: 0.0816em;

//     opacity: 1;
//     pointer-events: none;
//     transition: opacity $split-v-transi-time 0.75s ease-out;
//   }
//   .ctn-icons {
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//   }
//   .icon {
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//     height: $split-v-size;
//     width: $split-v-size;
//     margin: 0;
//     border-radius: 0;
//     opacity: 1;
//     cursor: pointer;
//     transition: background-color $split-v-transi-time ease-out,
//       border-radius $split-v-transi-time 0.25s ease-out,
//       margin $split-v-transi-time 0.25s ease-out;
//     svg path {
//       fill: $split-v-bkg-color-text;
//     }

//     &.last {
//       border-bottom-left-radius: 50%;
//       border-bottom-right-radius: 50%;
//     }

//     &:hover {
//       background-color: $split-v-bkg-color-secondary;
//       svg path {
//         fill: $split-v-bkg-color-secondary-text;
//       }
//     }
//   }
// }
</style>
