<template >
  <div class="sub-page">
    <h2>Page C</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quas, optio
      debitis ipsa est explicabo porro nisi ea itaque laudantium accusantium
      odit unde eveniet praesentium expedita reprehenderit dolorum delectus
      nesciunt! <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quas, optio
      debitis ipsa est explicabo porro nisi ea itaque laudantium accusantium
      odit unde eveniet praesentium expedita reprehenderit dolorum delectus
      nesciunt!<br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quas, optio
      debitis ipsa est explicabo porro nisi ea itaque laudantium accusantium
      odit unde eveniet praesentium expedita reprehenderit dolorum delectus
      nesciunt! <br />
    </p>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss" ></style>
