* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html,
body,
.app {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
ul {
  list-style-type: none;
}

input,
button,
submit {
  border: none;
}

.bg-light {
  color: $c-txt-dark;
  background-color: $c-txt-light;
}

.bg-dark {
  color: $c-txt-light;
  background-color: $c-txt-dark;
}

.page {
  height: 100%;
  display: flex;
  .content {
    width: 80%;
  }
  .navigation {
    height: 100%;
    width: 20%;
    text-align: center;
    border-bottom: 3px solid $c-primary-dark;
    border-right: 3px solid $c-primary-dark;
    padding: 10px 0;
    .page-title {
      text-align: center;
      border-bottom: 3px solid $c-primary-dark;
      padding: 10px 0;
      margin: 0 0 10px 0;
    }
  }
  .content {
    padding: 20px;
    h1,
    h2 {
      text-align: center;
    }
    h1 {
      margin: 20px;
      font-size: $base-size-font-title-xxl;
    }
    h2 {
      margin: 15px;
      font-size: $base-size-font-title-l;
    }
  }
  &.page-home .navigation {
    width: 100%;
    border-right: none;
  }
}

.main-title {
  text-align: center;
}

@media only screen and (min-width: $min-width-m) {
  section {
    margin: auto;
    width: 70%;
  }
}
