<template>
  <div id="app" class="app">
    <div class="main-title bg-dark">
      <h1>Site de templates</h1>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {},
};
</script>

<style lang="scss" src="./App.scss"></style>
