$animation-duration-short: 0.3s;
$animation-duration: 0.5s;

/*******************************
** Media Query
********************************/
$min-width-s: 450px;
$min-width-m: 650px;
$min-width-l: 850px;

/*******************************
** Colors
********************************/
$c-primary: #575a5b;
$c-primary-dark: #333;
$c-primary-light: #efedea;

$c-second: #c62828;
$c-second-dark: #8e0000;

$c-txt-dark: $c-primary-dark;
$c-txt-light: $c-primary-light;

$c-box-shadow: rgba(0, 0, 0, 0.9);

/*******************************
** fonts
********************************/
$base-size-font-txt-xs: rem(18);
$base-size-font-txt-s: rem(18);
$base-size-font-txt-m: rem(20);
$base-size-font-txt-l: rem(24);
$base-size-font-txt-xl: rem(26);
$base-size-font-txt-xxl: rem(30);

$base-size-font-title-s: rem(16);
$base-size-font-title-m: rem(22);
$base-size-font-title-l: rem(28);
$base-size-font-title-xl: rem(30);
$base-size-font-title-xxl: rem(40);
$base-size-font-title-xxxl: rem(55);

/*******************************
** Import
********************************/
@import "./variables/v-burger";
@import "./variables/v-carousel";
@import "./variables/v-lightbox";
