/** Variables Lighbox **/
$lightbox-color: rgba(0, 0, 0, 0.8) !default;
$lightbox-icons-color: #fafafa !default;
$lightbox-nav-size: 50px !default;
$lightbox-duration-loading: 0.5s !default;
$lightbox-duration-transition: 0.5s !default;
$lightbox-duration-transition-delay: 0.3s !default;

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $lightbox-color;
  .lightbox__image {
    position: fixed;
  }
  .lightbox__close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: $lightbox-nav-size;
    height: $lightbox-nav-size;
    transition: transform $lightbox-duration-transition-delay;
    cursor: pointer;
    path {
      fill: $lightbox-icons-color;
    }
  }
  .lightbox__close:hover,
  .lightbox__btn:hover {
    transform: scale(1.2);
  }
  .lightbox__btn {
    position: fixed;
    top: 50%;
    width: $lightbox-nav-size;
    height: $lightbox-nav-size;
    margin-top: -40px;
    transition: transform $lightbox-duration-transition-delay;
    cursor: pointer;
    path {
      fill: $lightbox-icons-color;
    }
    &.lightbox__next {
      right: 20px;
    }
    &.lightbox__prev {
      left: 20px;
      transform: rotate(180deg);
      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }
  }
}

.lightbox__loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: -20px;
  margin-top: -20px;
  background-color: #444;
  border-color: rbg(#000, 0.5);
  border-radius: 40px;
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
    animation: lightbox-loading $lightbox-duration-loading ease infinite;
  }
}
.lightbox-fade-enter-active,
.lightbox-fade-leave-active {
  transition: opacity $lightbox-duration-transition-delay;
}
.lightbox-fade-enter,
.lightbox-fade-leave-active {
  opacity: 0;
}

// Transition when Prev event
.lightbox-prev-enter-active,
.lightbox-prev-leave-active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform $lightbox-duration-transition,
    opacity $lightbox-duration-transition;
}
.lightbox-prev-enter-active {
  transition-delay: $lightbox-duration-transition-delay;
}
.lightbox-prev-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.lightbox-prev-leave-active {
  opacity: 0;
  transform: translateX(100px);
}
// Transition when Next event
.lightbox-next-enter-active,
.lightbox-next-leave-active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform $lightbox-duration-transition,
    opacity $lightbox-duration-transition;
}
.lightbox-next-enter-active {
  transition-delay: $lightbox-duration-transition-delay;
}
.lightbox-next-enter {
  opacity: 0;
  transform: translateX(100px);
}
.lightbox-next-leave-active {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes lightbox-loading {
  0% {
    opacity: 0.5;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.75);
  }
}
