/******* Variables Burger *******/
$burger-anim-duration: $animation-duration;
$burger-color: $c-primary-dark;
$burger-bkg-color: $c-primary-light;
$burger-width: 50px;
$burger-height: 50px;
$burger-span-width: $burger-width/2;
$burger-span-height: 3px;
$burger-span-space: $burger-span-height * 2.5;
$burger-open-span-space: $burger-span-height * 3;
