/******* Variables Carousel *******/
$carousel-anim-duration: $animation-duration;
$carousel-anim-hover-duration: $animation-duration-short;
$carousel-nav-size: 30px;
$carousel-nav-color: $c-primary-dark;
$carousel-pag-size: 10px;
$carousel-pag-color: $c-primary-dark;
$carousel-pag-active-color: $c-second;
