/******* Variables Lightbox *******/
$lightbox-color: $c-box-shadow;
$lightbox-icons-color: $c-primary-light;
$lightbox-nav-size: 50px;
$lightbox-duration-loading: $animation-duration;
$lightbox-duration-transition: $animation-duration;
$lightbox-duration-transition-delay: $animation-duration-short;
