$carousel-anim-duration: 0.5s !default;
$carousel-anim-hover-duration: 0.3s !default;
$carousel-nav-size: 30px !default;
$carousel-nav-color: #333 !default;
$carousel-pag-size: 10px !default;
$carousel-pag-color: #333 !default;
$carousel-pag-active-color: #efedea !default;

.div-slide {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  color: #fff;
  font-size: 16px;
}
