<template src="./carousel-component.html"></template>

<script>
import Carousel from "./carousel/carousel.vue";
import CarouselSlide from "./carousel/carousel-slide/carousel-slide.vue";

export default {
  components: {
    Carousel,
    CarouselSlide,
  },
  data() {
    return {
      slides: 5,
    };
  },
};
</script>

<style lang="scss" src="./carousel-component.scss"></style>
