<Carousel>
  <CarouselSlide v-for="n in slides" :index="n-1" v-bind:key="n">
    <div class="div-slide">Slide {{ n }}</div>
    <img :src="'https://picsum.photos/id/'+ n +'/630/300'" width="100%" />
  </CarouselSlide>
</Carousel>