<template >
  <div class="page page-lighbox">
    <div class="navigation">
      <div class="page-title">
        <h1>Lighbox</h1>
      </div>
      <div>
        <router-link :to="{ name: 'PageHome' }">Home</router-link>
      </div>
    </div>
    <div class="content">
      <router-view />
      <div>
        <a
          :href="'https://picsum.photos/id/' + n + '/800/600'"
          v-lightbox-simple="'first'"
          v-for="n in 9"
          v-bind:key="n"
        >
          <img :src="'https://picsum.photos/id/' + n + '/150/150'" />
        </a>
        <a
          :href="'https://picsum.photos/id/' + (m + 150) + '/800/600'"
          v-lightbox-simple="'second'"
          v-for="m in 9"
          v-bind:key="m + 100"
        >
          <img :src="'https://picsum.photos/id/' + (m + 150) + '/150/150'" />
        </a>
      </div>
      <Lightbox></Lightbox>
    </div>
  </div>
</template>

<script>
import Lightbox from "@/components/lightbox/lightbox-simple/lightbox.vue";

export default {
  components: {
    Lightbox,
  },
};
</script>

<style lang="scss" ></style>
